<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" id="Card-Body-Control-Llamadas">
                <h4 class="card-title">Control de llamadas </h4>
                <!-- <h6 class="card-subtitle">List of ticket opend by customers</h6> -->
                <div class="row m-t-40">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-inverse card-info">
                            <div class="box bg-success text-center">
                                <h1 class="font-light text-white">45</h1>
                                <h6 class="text-white">Efectivas</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-warning card-inverse">
                            <div class="box text-center">
                                <h1 class="font-light text-white">15</h1>
                                <h6 class="text-white">Programadas </h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-inverse card-danger">
                            <div class="box text-center">
                                <h1 class="font-light text-white">70</h1>
                                <h6 class="text-white">No efectivas</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-inverse card-dark">
                            <div class="box text-center">
                                <h1 class="font-light text-white">964</h1>
                                <h6 class="text-white">Total llamadas</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list"
                        data-page-size="10">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Contatc Center</th>
                                <th>Estado</th>
                                <th>última llamada</th>
                                <th>Efectivas</th>
                                <th>Programadas</th>
                                <th>No efectivas</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <a href="javascript:void(0)" id="Control-Llamadas-Name"><img
                                            src="../../../assets/images/users/1.jpg" alt="user" class="img-circle" />
                                        Genelia Deshmukh</a>
                                </td>
                                <td><span class="label label-success">En llamada</span></td>
                                <td>2 minutos</td>
                                <td>5</td>
                                <td>12</td>
                                <td>30</td>
                                <td>47</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <a href="#" id="Control-Llamadas-Name"><img src="../../../assets/images/users/2.jpg"
                                            alt="user" class="img-circle" /> Ritesh Deshmukh</a>
                                </td>
                                <td><span class="label label-warning">Verificando</span></td>
                                <td>4 minutos</td>
                                <td>7</td>
                                <td>5</td>
                                <td>15</td>
                                <td> 27</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <a href="#" id="Control-Llamadas-Name"><img src="../../../assets/images/users/2.jpg"
                                            alt="user" class="img-circle" /> Ritesh Deshmukh</a>
                                </td>
                                <td><span class="label label-danger">Inactivo</span></td>
                                <td>10 minutos</td>
                                <td>7</td>
                                <td>5</td>
                                <td>15</td>
                                <td>27</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>