<div class="row">
    <div class="col-md-10">
        <div class="card">
            <div class="card-body wizard-content">
                <div class="row">
                    <div class="col-md-3">
                        <h2 class="card-title titulo_RL">Registro de llamadas</h2>
                    </div>
                    <div class="col-md-4">
                        <h5 class="titulo_RL">
                            <i class="fa fa-clock-o"></i> Llamada
                        </h5>
                        <div class="MyStyle_Contador">
                            <div id="txtMinutosL" class="Contador_Minutos">00</div>
                            <div id="txtSegundosL" class="Contador_Segundos">00</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="titulo_RL">
                            <i class="fa fa-search"></i> Post-llamada
                        </h6>
                        <div class="MyStyle_Contador">
                            <div id="txtMinutosV" class="Contador_Minutos">00</div>
                            <div id="txtSegundosV" class="Contador_Segundos">00</div>
                        </div>
                    </div>
                    <div class="col-md-2 btns">
                        <button type="button" id="btnTerminarLlamada" data-toggle="tooltip"
                            data-original-title="Terminar Llamada" class="btn btn-danger d-inline-block">
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
                </div>
                <hr class="m-t-10 m-b-20">
                <form id="Form_Registro_LlamadaNP" class="wizard-circle">
                    <!-- Step 1 -->
                    <h6>Información de contacto</h6>
                    <section>
                        <hr class="m-t-0 m-b-20">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Razón social:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" name="txtRazonSocial" id="txtRazonSocial" class="form-control"
                                        placeholder="Empresa S.A" autocomplete="on">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="emailAddress1"> Teléfono:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="number" class="form-control" id="txtTelefono" name="txtTelefono"
                                        placeholder="4123456">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="int1">Extensión:</label>
                                    <input type="text" class="form-control" id="txtExtension" name="txtExtension"
                                        placeholder="Ext: 101">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        NIT:
                                    </label>
                                    <input type="text" id="txtNIT" name="txtNIT" class="form-control"
                                        placeholder="12345678-9">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="txtPersona_Responde">¿Quién responde?:</label>
                                    {{!-- <span class="text-danger">*</span> --}}
                                    <input type="checkbox" id="txtValEncargado" name="txtValEncargado"
                                        class="MyStyle_Checkbox">
                                    <label for="txtValEncargado" id="lbltxtValEncargado" class="checkbox"
                                        data-toggle="tooltip" data-original-title="¿Encargado?"></label>
                                    <input type="text" class="form-control" id="txtPersona_Responde"
                                        name="txtPersona_Responde" placeholder="Jhon Doe">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="int1">Encargado:</label>
                                    <input type="text" class="form-control" id="txtEncargado" name="txtEncargado"
                                        placeholder="Jhon Doe">
                                </div>
                            </div>
                        </div>
                        <h4 class="box-title d-inline-block">Ubicación:</h4>
                        <input type="radio" id="Validacion_UbicacionEmpresa" name="Validacion_UbicacionEmpresa"
                            class="with-gap">
                        <label for="Validacion_UbicacionEmpresa"
                            id="lblValidacion_UbicacionEmpresa">Colombia/Antioquia/Medellín/Barrio</label>
                        <hr class="m-t-0 m-b-20">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">País:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select name="txtPais" id="txtPais" class="select2 form-control custom-select">
                                        <option selected disabled>Seleccione...</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Departamento:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select name="txtDepartamento" id="txtDepartamento"
                                        class="select2 form-control custom-select">
                                        <option selected disabled>Seleccione...</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Municipio:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select name="txtMunicipio" id="txtMunicipio"
                                        class="select2 form-control custom-select">
                                        <option selected disabled>Seleccione...</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Barrio o vereda:
                                    </label>
                                    <select name="txtSubTipo" id="txtSubTipo"
                                        class="select2 form-control custom-select">
                                        <option selected disabled>Seleccione...</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /Row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre barrio o vereda</label>
                                    <select name="txtNombre_Lugar" id="txtNombre_Lugar"
                                        class="select2 form-control custom-select">
                                        <option selected disabled>Seleccione...</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emailAddress1"> Dirección:</label>
                                    <input type="text" class="form-control" id="txtDireccion" name="txtDireccion"
                                        readonly data-toggle="modal" data-target="#modalDireccion"
                                        placeholder="Dirección">
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 2 -->
                    <h6>Datos básicos líneas</h6>
                    <section>
                        <hr class="m-t-0 m-b-20">
                        <div class="row">
                            <div class="col-md-3 z_indexCorrecionTooltip">
                                <div class="form-group">
                                    <label for="location1">¿Corporativo?</label>
                                    <br>
                                    <input type="checkbox" class="switch_corporativo" disabled>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label">Operador del
                                        <strong>cliente:</strong><span class="text-danger">*</span></label>
                                    <select name="txtOperador" id="txtOperador"
                                        class="select2 form-control custom-select valDetalle">
                                        <option selected disabled>Seleccione...</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"> Calificación del operador:
                                        {{!-- <span class="text-danger">*</span> --}}
                                    </label>
                                    <select name="txtCalificacion" id="txtCalificacion"
                                        class="select2 form-control custom-select valDetalle">
                                        <option selected disabled>Seleccione...</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">
                                        Razones: <i class="fa fa-question-circle" data-toggle="tooltip"
                                            data-original-title="Utilice punto y coma o enter para guardar la
                                            entrada."></i>
                                    </label>
                                    <select id="txtRazones" class="select2-multiple m-b-10 valDetalle"
                                        style="width: 100%" multiple="multiple" data-placeholder="Seleccione o escriba">

                                    </select>
                                </div>
                            </div>
                        </div>
                        {{>registrar-detalle-servicios}}

                        <div class="row ValidacionClickCorp">
                            <div class="col-md-12 text-center">
                                <div class="form-group d-inline-block m-r-40 ValidacionAT">
                                    <label for="location1">¿Atención telefónica?</label>
                                    <br>
                                    <input type="checkbox" class="switch_AT1" disabled>
                                </div>
                                <div class="form-group d-inline-block">
                                    <label for="location1">¿Agenda cita?</label>
                                    <br>
                                    <input type="checkbox" class="switch_cita1" disabled>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 3 -->
                    <h6>Plan corporativo</h6>
                    <section>
                        <hr class="m-t-0 m-b-20">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group ">
                                    <label class="control-label">¿Claúsula permanencia?:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <br>
                                    <div id="switchClausula" class="switch">
                                        <label>
                                            <strong> NO</strong>
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                            <strong>SI</strong>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label for="txtFecha_inicio">
                                        Fecha del corporativo:
                                    </label>
                                    <div class="input-daterange input-group" id="Fecha_Corporativo">
                                        <span class="input-group-addon">Inicio</span>
                                        <input type="text" class="input-sm form-control" name="txtFecha_inicio"
                                            id="txtFecha_inicio" placeholder="yyyy/mm/dd" />
                                        <span class="input-group-addon">Fin</span>
                                        <input type="text" class="input-sm form-control" name="txtFecha_fin"
                                            id="txtFecha_fin" placeholder="yyyy/mm/dd" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="participants1">Descripción del corporativo:</label>
                                    <textarea name="txtDescripcion" id="txtDescripcion" rows="5" class="form-control"
                                        placeholder="Ingresa una descripción"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="form-group d-inline-block m-r-40 ValidacionAT">
                                    <label for="location1">¿Atención telefónica?</label>
                                    <br>
                                    <input type="checkbox" class="switch_AT2">
                                </div>
                                <div class="form-group d-inline-block">
                                    <label for="location1">¿Agenda cita?</label>
                                    <br>
                                    <input type="checkbox" class="switch_cita2">
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 4 -->
                    <h6>Cita</h6>
                    <section>
                        <hr class="m-t-0 m-b-20">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Operador de la <strong>cita: </strong><span class="text-danger">*</span>
                                    </label>
                                    <select name="txtOperadorCita" id="txtOperadorCita"
                                        class="select2 form-control custom-select">
                                        <option selected disabled>Seleccione...</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label">Fecha:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" id="date-format" name="txtFechaCita"
                                        class="form-control floating-label" placeholder="Lunes 01 Enero 2020">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Hora:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="button" name="btnHoraCita" id="btnHoraCita" data-toggle="modal"
                                        data-target="#modalHorasCitas" class="btn btn-info text-white form-control"
                                        value="Seleccione...">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="txtEncargado_Cita">¿Quién atiende la cita?:
                                        <span class="text-danger">*</span>
                                    </label>

                                    <input type="checkbox" id="txtValEncargadoCita" name="txtValEncargadoCita"
                                        class="MyStyle_Checkbox">
                                    <label for="txtValEncargadoCita" id="lbltxtValEncargadoCita" class="checkbox"
                                        data-toggle="tooltip" data-original-title="¿Encargado?"></label>

                                    <input type="text" class="form-control" id="txtEncargado_Cita"
                                        name="txtEncargado_Cita" placeholder="Nombre Completo">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="int1">Celular:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="txtCelularCita" name="txtCelularCita"
                                        placeholder="3123456788">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="location1">¿Es el representante legal?:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div id="switchRL" class="switch">
                                        <label>
                                            <strong> NO</strong>
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                            <strong>SI</strong>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="box-title d-inline-block">Ubicación</h4>
                        <input name="Validacion_UbicacionCita" type="radio" class="with-gap" id="ValAtiendeEmpresa">
                        <label for="ValAtiendeEmpresa">Atiende en la empresa</label>
                        <input name="Validacion_UbicacionCita" type="radio" class="with-gap" id="Validacion_Ubicacion2">
                        <label for="Validacion_Ubicacion2">Colombia/Antioquia/Medellín/Barrio</label>

                        <hr class="m-t-0 m-b-20">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">País:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select name="txtPaisCita" id="txtPaisCita"
                                        class="select2 form-control custom-select">
                                        <option selected disabled>Seleccione...</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Departamento:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select name="txtDepartamentoCita" id="txtDepartamentoCita"
                                        class="select2 form-control custom-select">
                                        <option selected disabled>Seleccione...</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Municipio:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select name="txtMunicipioCita" id="txtMunicipioCita"
                                        class="select2 form-control custom-select">
                                        <option selected disabled>Seleccione...</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Barrio o vereda:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select name="txtSubTipoCita" id="txtSubTipoCita"
                                        class="select2 form-control custom-select">
                                        <option selected disabled>Seleccione...</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /Row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre barrio o vereda:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select name="txtNombre_LugarCita" id="txtNombre_LugarCita"
                                        class="select2 form-control custom-select">
                                        <option selected disabled>Seleccione...</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emailAddress1"> Dirección:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="txtDireccion_Cita" readonly
                                        name="txtDireccion_Cita" placeholder="Dirección">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Location1">Punto de referencia:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="txtPuntoReferencia"
                                        name="txtPuntoReferencia"
                                        placeholder="Centro Comercial, Iglesia, Parque, etc...">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="font-weight-bold">
                                        <i class="fa fa-clock-o"></i> ¿Recordar cita?:</label>
                                    <input type="text" id="Fecha_RC" class="form-control floating-label"
                                        placeholder=" Ejemplo: Lunes 01 Enero 2020 12:00">
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 5 -->
                    <h6>Atención telefónica</h6>
                    <section>
                        <hr class="m-t-0 m-b-20">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Envio de oferta:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <br>
                                    <input name="rbtnEnvioOferta" type="radio" class="with-gap" id="rbtnAtencionTel1"
                                        value="1">
                                    <label id="lblAtencionTel1" for="rbtnAtencionTel1">
                                        <i class="mdi mdi-email"></i> Correo
                                    </label>
                                    <br>
                                    <input name="rbtnEnvioOferta" type="radio" class="with-gap" id="rbtnAtencionTel2"
                                        value="2">
                                    <label id="lblAtencionTel2" for="rbtnAtencionTel2">
                                        <i class="mdi mdi-whatsapp"></i> WhatsApp
                                    </label>
                                    <br>
                                    <input name="rbtnEnvioOferta" type="radio" class="with-gap" id="rbtnAtencionTel3"
                                        value="3">
                                    <label id="lblAtencionTel3" for="rbtnAtencionTel3">
                                        <i class="mdi mdi-email"></i><i class="mdi mdi-whatsapp"></i> Ambos medios
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Correo:
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" name="txtCorreo" id="txtCorreo" class="form-control"
                                                disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="int1">Código postal:
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" class="form-control" id="txtCodigoPostal"
                                                name="txtCodigoPostal" placeholder="+57" value="57" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="int1">Celular:
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" class="form-control" id="txtCelularAT"
                                                name="txtCelularAT" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                    <!-- Step 6 -->
                    <h6>Finalizar llamada</h6>
                    <section>
                        <hr class="m-t-0 m-b-20">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="location1">Habeas Data:<span class="text-danger">*</span>
                                    </label>
                                    <br>
                                    <input type="checkbox" class="switch_habeas_data">
                                </div>
                            </div>
                            <div class="col-md-3 ValidacionesCita" style="display: none;">
                                <div class="form-group">
                                    <label for="location1">¿Factura?:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <br>
                                    <input type="checkbox" class="switch_factura">
                                </div>
                            </div>
                            <div class="col-md-4 ValidacionesLlamada">
                                <div class="form-group">
                                    <label for="location1">
                                        ¿Llamar nuevamente?</label>
                                    </label>
                                    <br>
                                    <input type="checkbox" class="switch_llamarNuevamente">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label">Conclusión Llamada:</label>
                                    <select name="txtConclusion" id="txtConclusion"
                                        class="select2 form-control custom-select" disabled="disabled">
                                        <option selected value="1">No efectiva</option>
                                        <option disabled value="2">Llamar nuevamente</option>
                                        <option disabled value="3">Efectiva</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="ValidacionTerminarLL1" class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">
                                        Razones de conclusión:
                                        <i class="fa fa-question-circle" data-toggle="tooltip" data-original-title="Utilice punto y coma o enter para guardar la
                                            entrada."></i>
                                    </label>
                                    <select id="txtRazonesLlamada" class="select2-multiple m-b-10" style="width: 100%"
                                        multiple="multiple" data-placeholder="Seleccione o escriba">
                                        <option value="No responden">No responden</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 ValidacionTerminarLL2 m-t-10" style="display: none;">
                                <div class="form-group">
                                    <label class="control-label">
                                        ¿Se llamó a una empresa? <span class="text-danger">*</span>
                                    </label>
                                    <br>
                                    <input name="rbtEmpresaValida" type="radio" class="with-gap" id="rbtValEmpresa"
                                        value="1">
                                    <label for="rbtValEmpresa">Si</label>
                                    <input name="rbtEmpresaValida" type="radio" class="with-gap" id="rbtValEmpresa2"
                                        value="2">
                                    <label for="rbtValEmpresa2">No</label>
                                    <input name="rbtEmpresaValida" type="radio" class="with-gap" id="rbtValEmpresa3"
                                        value="3">
                                    <label for="rbtValEmpresa3">No responden</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="form-group">
                                    <button type="button" id="btnFinalizarLlamada" class="btn btn-info"><i
                                            class="mdi mdi-phone-classic"></i>
                                        Finalizar llamada</button>
                                </div>
                            </div>
                        </div>
                        <div id="ValFinalizarLlamada" class="row" style="display: none;">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="decisions1">Observación de la llamada:</label>
                                    <textarea name="txtObservacion" id="txtObservacion" rows="5"
                                        class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <hr class="m-t-20 m-b-20 ValFinalizarLlamadaCita" style="display: none;">
                        <div style="display: none;" class="row ValFinalizarLlamadaCita">
                            <div class="col-md-12">
                                <div class="row">
                                    <h4 class="box-title m-b-20 font-weight-bold">Validación de información:</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="location1">Dirección:
                                                <span class="text-danger">*</span>
                                            </label>
                                            <br>
                                            <input type="checkbox" class="switch_direccion">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="location1">NIT:
                                                <span class="text-danger">*</span>
                                            </label>
                                            <br>
                                            <input type="checkbox" class="switch_nit">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="location1">
                                                ¿Enviar cita después?</label>
                                            </label>
                                            <br>
                                            <input type="checkbox" class="switch_enviarCitaDespues" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="m-t-20 m-b-20">
                        </div>
                    </section>
                    <!-- Step 7 -->
                    <h6>Programar fecha</h6>
                    <section>
                        <hr class="m-t-0 m-b-20">
                        <div class="row ValidacionesPLlamada">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="font-weight-bold">
                                        <i class="fa fa-clock-o"></i> Llamar nuevamente:</label>
                                    <input type="text" id="Fecha_LP" class="form-control floating-label"
                                        placeholder=" Ejemplo: Lunes 01 Enero 2020 12:00">
                                </div>
                            </div>
                        </div>
                        <div class="row ValidacionesPCita" style="display: none;">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="font-weight-bold">
                                        <i class="fa fa-clock-o"></i> Enviar cita después:</label>
                                    <input type="text" id="Fecha_EC" class="form-control floating-label"
                                        placeholder=" Ejemplo: Lunes 01 Enero 2020 12:00">
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 8 -->
                    <h6>Diseñar oferta</h6>
                    <section>
                        <hr class="m-t-0 m-b-20">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        Operador de la <strong>oferta: </strong><span class="text-danger">*</span>
                                    </label>
                                    <select name="txtOperadorOferta" id="txtOperadorOferta"
                                        class="select2 form-control custom-select valDetalle">
                                        <option selected disabled>Seleccione...</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Destinatario oferta
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" name="txtDestinatarioOferta" id="txtDestinatarioOferta"
                                        class="form-control valDetalle" placeholder="Ingresa un nombre">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h3 class="font-weight-bold"> <i class="fa fa-home"></i> Tipo de oferta</h3>
                            </div>
                            <div class="col-md-8">
                                <div class="opciones-collapse">
                                    <a id="minimizarFormOferta" class="btn btn-sm btn-verde" data-toggle="collapse"
                                        data-target="#FormOferta" aria-expanded="true" aria-controls="FormOferta">
                                        <i class="ti-minus"></i>

                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr class="m-t-10 m-b-20">
                        <div id="FormOferta" class="row collapse show">
                            <ul class="nav nav-tabs customtab" role="tablist">
                                <li id="tabOfertaE" class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabPane1" role="tab">
                                        <span class="hidden-sm-up"><i class="ti-home"></i></span>
                                        <span class="hidden-xs-down"> <i class="fa fa-home"></i> Oferta
                                            estándar</span>
                                    </a>
                                </li>
                                <li id="Pseudo_tabOfertaE" class="nav-item" style="display: none;">
                                    <a class="nav-link">
                                        <span class="hidden-sm-up"><i class="ti-home"></i></span>
                                        <span class="hidden-xs-down"> <i class="fa fa-home"></i> Oferta
                                            estándar</span>
                                    </a>
                                </li>
                                <li id="tabOfertaP" class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabPane2" role="tab">
                                        <span class="hidden-sm-up"><i class="ti-user"></i></span>
                                        <span class="hidden-xs-down"> <i class="fa fa-home"></i> Oferta
                                            personalizada
                                        </span>
                                    </a>
                                </li>
                                <li id="Pseudo_tabOfertaP" class="nav-item" style="display: none;">
                                    <a class="nav-link">
                                        <span class="hidden-sm-up"><i class="ti-user"></i></span>
                                        <span class="hidden-xs-down"> <i class="fa fa-home"></i> Oferta
                                            personalizada
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active p-20" id="tabPane1" role="tabpanel">
                                    <h3 class="d-inline-block">Servicios móviles oferta estándar:</h3>
                                    <span class="text-muted">(Propuestas)</span>
                                    <hr class="m-t-0 m-b-40">
                                    <div class="row">
                                        <input type="hidden" id="txtDetalleId_OE" value="0">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label"> Cantidad mínima de líneas:
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <input type="number" class="form-control detalleLinea"
                                                    id="txtDetalle_Cantidad_Lineas_OE"
                                                    name="txtDetalle_Cantidad_Lineas_OE" placeholder="Cantidad: 10">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Cargo básico por <strong>cada línea:</strong> <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="input-group">
                                                    <input id="txtDetalle_Valor_Mensual_OE" type="text"
                                                        name="txtDetalle_Valor_Mensual_OE"
                                                        class="form-control detalleLinea" placeholder="Valor: $55,000">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">COP</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Navegación:
                                                    <span class="font-weight-bold">GB</span>
                                                </label>
                                                <input type="number" class="form-control detalleLinea"
                                                    id="txtDetalleNavegacion_OE" name="txtDetalleNavegacion_OE"
                                                    placeholder="Cantidad: 10">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="int1 ">Minutos a todo destino:</label>
                                                <input type="checkbox" id="txtDetalle_Validacion_Ilimitados_OE"
                                                    name="txtDetalle_Validacion_Ilimitados_OE"
                                                    class="MyStyle_Checkbox detalleLinea">

                                                <label class="checkbox" for="txtDetalle_Validacion_Ilimitados_OE"
                                                    data-toggle="tooltip" data-original-title="Ilimitados"></label>
                                                <input type="number" class="form-control detalleLinea"
                                                    id="txtDetalle_Minutos_OE" name="txtDetalle_Minutos_OE"
                                                    placeholder="Cantidad: 3000">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="int1 ">SMS todo destino:</label>
                                                <input type="checkbox" id="txtDetalle_Validacion_SMSIlimitados_OE"
                                                    name="txtDetalle_Validacion_SMSIlimitados_OE"
                                                    class="MyStyle_Checkbox detalleLinea">

                                                <label class="checkbox" for="txtDetalle_Validacion_SMSIlimitados_OE"
                                                    data-toggle="tooltip" data-original-title="Ilimitados"></label>
                                                <input type="number" class="form-control detalleLinea"
                                                    id="txtDetalle_Mensajes_OE" name="txtDetalle_Mensajes_OE"
                                                    placeholder="SMS: 3000">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Minutos LDI:
                                                    <i class="fa fa-question-circle" data-toggle="tooltip"
                                                        data-original-title="Utilice punto y coma o enter para guardar la entrada.">
                                                    </i>
                                                </label>
                                                <select id="txtDetalleMinutosLDI_OE" class="select2-multiple m-b-10"
                                                    style="width: 100%" multiple="multiple"
                                                    data-placeholder="Seleccione o escriba">

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Cantidad LDI:</label>
                                                <input type="number" class="form-control detalleLinea"
                                                    name="txtDetalle_Cantidad_LDI_OE" id="txtDetalle_Cantidad_LDI_OE"
                                                    placeholder="Cantidad: 3000" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Servicios ilimitados:
                                                    <i class="fa fa-question-circle" data-toggle="tooltip"
                                                        data-original-title="Utilice punto y coma o enter para guardar la entrada.">
                                                    </i>
                                                </label>
                                                <select id="txtDetalle_ServiciosI_OE" class="select2-multiple m-b-10"
                                                    style="width: 100%" multiple="multiple"
                                                    data-placeholder="Seleccione o escriba">

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Servicios adicionales:
                                                    <i class="fa fa-question-circle" data-toggle="tooltip"
                                                        data-original-title="Utilice punto y coma o enter para guardar la entrada.">
                                                    </i>
                                                </label>
                                                <select id="txtDetalle_ServiciosA_OE" class="select2-multiple m-b-10"
                                                    style="width: 100%" multiple="multiple"
                                                    data-placeholder="Seleccione o escriba">

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <button type="button" id="btnLimpiar_OE" class="btn btn-primary">
                                                <i class="fa fa-pencil-square-o"></i> Limpiar
                                            </button>
                                        </div>
                                        <div class="col-md-6 text-left">
                                            <button type="button" id="btnGuardar_OE" class="btn btn-info">
                                                <i class="fa fa-save"></i> Guardar
                                            </button>
                                        </div>
                                    </div>
                                    <h3 class="m-t-20 d-inline-block">Gestionar servicios móviles:</h3>
                                    <span class="text-muted">(Propuestas)</span>
                                    <hr class="m-t-0 m-b-20">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table id="DataTableOE" class="table MyStyle_Color-Table display nowrap"
                                                    style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">Cantidad líneas</th>
                                                            <th class="text-center">Cargo básico</th>
                                                            <th class="text-center">Navegación</th>
                                                            <th class="text-center">Minutos</th>
                                                            <th class="text-center">Mensajes</th>
                                                            <th class="text-center">Servicios ilimitados</th>
                                                            <th class="text-center">Minutos LDI</th>
                                                            <th class="text-center">Cantidad LDI</th>
                                                            <th class="text-center">Serivicios adicionales</th>
                                                            <th class="text-center">Opciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane  p-20" id="tabPane2" role="tabpanel">
                                    <h3 class="d-inline-block">Servicios móviles del cliente:</h3>
                                    <span class="text-muted">(Seleccione un grupo de líneas)</span>
                                    <hr class="m-t-0 m-b-20">
                                    <div class="row">
                                        <div id="swipers" class="col-md-12"></div>
                                    </div>
                                    <h3 class="m-t-20 d-inline-block">Registrar servicios móviles:</h3>
                                    <span class="text-muted">(Comparativo)</span>
                                    <hr class="m-t-0 m-b-20">
                                    <div id="valSiComparativo">
                                        <div class="row">
                                            <input type="hidden" id="txtDetalleId_OP" value="0">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label"> Cantidad de líneas:
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="number" class="form-control detalleLinea OfertaPClick"
                                                        id="txtDetalle_Cantidad_Lineas_OP"
                                                        name="txtDetalle_Cantidad_Lineas_OP" placeholder="Cantidad: 10">
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Cargo básico por <strong>cada línea:</strong> <span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="input-group">
                                                        <input id="txtDetalle_Valor_Mensual_OP" type="text"
                                                            name="txtDetalle_Valor_Mensual_OP"
                                                            class="form-control detalleLinea OfertaPClick"
                                                            placeholder="Valor: $55,000">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">COP</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Navegación:
                                                        <span class="font-weight-bold">GB</span>
                                                    </label>
                                                    <input type="number" class="form-control detalleLinea OfertaPClick"
                                                        id="txtDetalleNavegacion_OP" name="txtDetalleNavegacion_OP"
                                                        placeholder="Cantidad: 10">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="int1 ">Minutos a todo destino:</label>
                                                    <input type="checkbox" id="txtDetalle_Validacion_Ilimitados_OP"
                                                        name="txtDetalle_Validacion_Ilimitados_OP"
                                                        class="MyStyle_Checkbox detalleLinea OfertaPClick">

                                                    <label class="checkbox" for="txtDetalle_Validacion_Ilimitados_OP"
                                                        data-toggle="tooltip" data-original-title="Ilimitados"></label>
                                                    <input type="number" class="form-control detalleLinea OfertaPClick"
                                                        id="txtDetalle_Minutos_OP" name="txtDetalle_Minutos_OP"
                                                        placeholder="Cantidad: 3000">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="int1 ">SMS todo destino:</label>
                                                    <input type="checkbox" id="txtDetalle_Validacion_SMSIlimitados_OP"
                                                        name="txtDetalle_Validacion_SMSIlimitados_OP"
                                                        class="MyStyle_Checkbox detalleLinea OfertaPClick">

                                                    <label class="checkbox" for="txtDetalle_Validacion_SMSIlimitados_OP"
                                                        data-toggle="tooltip" data-original-title="Ilimitados"></label>
                                                    <input type="number" class="form-control detalleLinea OfertaPClick"
                                                        id="txtDetalle_Mensajes_OP" name="txtDetalle_Mensajes_OP"
                                                        placeholder="SMS: 3000">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Minutos LDI:
                                                        <i class="fa fa-question-circle" data-toggle="tooltip"
                                                            data-original-title="Utilice punto y coma o enter para guardar la entrada.">
                                                        </i>
                                                    </label>
                                                    <select id="txtDetalleMinutosLDI_OP"
                                                        class="select2-multiple m-b-10 OfertaPClick" style="width: 100%"
                                                        multiple="multiple" data-placeholder="Seleccione o escriba">

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Cantidad LDI:</label>
                                                    <input type="number" class="form-control detalleLinea OfertaPClick"
                                                        name="txtDetalle_Cantidad_LDI_OP"
                                                        id="txtDetalle_Cantidad_LDI_OP" placeholder="Cantidad: 3000"
                                                        disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Servicios ilimitados:
                                                        <i class="fa fa-question-circle" data-toggle="tooltip"
                                                            data-original-title="Utilice punto y coma o enter para guardar la entrada.">
                                                        </i>
                                                    </label>
                                                    <select id="txtDetalle_ServiciosI_OP"
                                                        class="select2-multiple m-b-10 OfertaPClick" style="width: 100%"
                                                        multiple="multiple" data-placeholder="Seleccione o escriba">

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Servicios adicionales:
                                                        <i class="fa fa-question-circle" data-toggle="tooltip"
                                                            data-original-title="Utilice punto y coma o enter para guardar la entrada.">
                                                        </i>
                                                    </label>
                                                    <select id="txtDetalle_ServiciosA_OP"
                                                        class="select2-multiple m-b-10 OfertaPClick" style="width: 100%"
                                                        multiple="multiple" data-placeholder="Seleccione o escriba">

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-right">
                                                <button type="button" id="btnLimpiar_OP"
                                                    class="btn btn-primary OfertaPClick">
                                                    <i class="fa fa-pencil-square-o"></i> Limpiar
                                                </button>
                                            </div>
                                            <div class="col-md-6 text-left">
                                                <button type="button" id="btnGuardar_OP"
                                                    class="btn btn-info OfertaPClick">
                                                    <i class="fa fa-save"></i> Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="valNoComparativo" style="display: none;" class="row">
                                        <div class="col-md-12">
                                            <h5 class="text-center text-danger font-weight-bold">
                                                <i class="fa fa-warning"></i> ¡No hay un grupo de líneas seleccionado!
                                            </h5>
                                        </div>
                                    </div>
                                    <h3 class="m-t-20 d-inline-block">Gestionar servicios móviles:</h3>
                                    <span class="text-muted">(Comparativo)</span>
                                    <hr class="m-t-0 m-b-20">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table id="DataTableOP" class="table MyStyle_Color-Table display nowrap"
                                                    style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">Cantidad líneas</th>
                                                            <th class="text-center">Cargo básico</th>
                                                            <th class="text-center">Navegación</th>
                                                            <th class="text-center">Minutos</th>
                                                            <th class="text-center">Mensajes</th>
                                                            <th class="text-center">Servicios ilimitados</th>
                                                            <th class="text-center">Minutos LDI</th>
                                                            <th class="text-center">Cantidad LDI</th>
                                                            <th class="text-center">Serivicios adicionales</th>
                                                            <th class="text-center">Opciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="m-t-20 d-inline-block">Ajuste de propuesta:</h3>
                                    <span class="text-muted">(Comparativo)</span>
                                    <hr class="m-t-0 m-b-20">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Bonos de activación:</label>
                                                <input type="text" class="form-control" id="txtValorBonos"
                                                    name="txtValorBonos" placeholder="Valor: 55,000">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Cancelación de cláusula:</label>
                                                <input type="text" class="form-control" id="txtValorClausula"
                                                    name="txtValorClausula" placeholder="Valor: 55,000">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="m-t-0 m-b-20">
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h3 class="font-weight-bold"> <i class="fa fa-home"></i> Textos</h3>
                            </div>
                            <div class="col-md-8">
                                <div class="opciones-collapse">
                                    <a class="btn btn-sm btn-verde" data-toggle="collapse" data-target="#FormTextos"
                                        aria-expanded="true" aria-controls="FormTextos">
                                        <i class="ti-minus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr class="m-t-10 m-b-20">
                        <div id="FormTextos" class="row collapse">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>
                                                Mensaje superior:
                                            </label>
                                            <textarea class="form-control" name="txtMensajeSuperior"
                                                id="txtMensajeSuperior" rows="3"
                                                placeholder="Texto que se muestra encima de las propuestas."></textarea>

                                        </div>
                                    </div>
                                </div>
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <div class="row m-b-10">
                                            <div class="col-md-6">
                                                <label class="m-t-10">Aclaraciones:</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group-append float-right">
                                                    <button type="button" class="btn btn-verde"
                                                        onclick="PrecargarAclaraciones(true);">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="listaAclaraciones">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row m-b-10">
                                            <div class="col-md-6">
                                                <label class="m-t-10">Notas:
                                                    <span class="text-danger">*</span>
                                                </label>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group-append float-right">
                                                    <button type="button" class="btn btn-verde"
                                                        onclick="PrecargarNotas(true);">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="listaNotas">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="button" id="btnPrevisualizarOferta" class="btn btn-verde">
                                    <i class="fa fa-eye"></i> Previsualizar oferta
                                </button>
                            </div>
                        </div>
                    </section>
                </form>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h4 class="box-title">Observaciones:</h4>
                            <textarea class="form-control" id="exampleTextarea" rows="5"
                                placeholder="Usa este espacio para agregar información de forma rápida."></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 p-r-0 p-l-0">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><i class="fa fa-calendar"></i> Cita:</h4>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                            <input type="checkbox" id="resumenCitaFecha" class="MyStyle_Checkbox" readonly
                                onclick="javascript: return false;">
                            <label for="resumenCita">Fecha</label>
                        </div>
                        <div class="content">
                            <input type="checkbox" id="resumenCitaHora" class="MyStyle_Checkbox" readonly
                                onclick="javascript: return false;">
                            <label for="resumenCita">Hora</label>
                        </div>
                        <div class="content">
                            <input type="checkbox" id="resumenCitaHD" class="MyStyle_Checkbox" readonly
                                onclick="javascript: return false;">
                            <label for="resumenCita">Habeas Data</label>
                        </div>
                        <div class="content">
                            <input type="checkbox" id="resumenCitaFactura" class="MyStyle_Checkbox" readonly
                                onclick="javascript: return false;">
                            <label for="resumenCita">Factura</label>
                        </div>
                        <div class="content">
                            <input type="checkbox" id="resumenCitaDireccion" class="MyStyle_Checkbox" readonly
                                onclick="javascript: return false;">
                            <label for="resumenCita">Dirección</label>
                        </div>
                        <div class="content">
                            <input type="checkbox" id="resumenCitaNIT" class="MyStyle_Checkbox" readonly
                                onclick="javascript: return false;">
                            <label for="resumenCita">NIT</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="DetalleEmpresaCard" class="card" style="display: none;">
            <div class="card-body">
                <h4 class="d-inline-block m-t-10">Empresa:</h4>
                <button type="button" class="btn btn-sm btn-info btn-circle" data-toggle="modal"
                    data-target=".ModalDetalles">
                    <i class="fa fa-eye"></i>
                </button>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                            <i class="fa fa-check-circle-o"></i>
                            <span id="spnEmpresa" class="card-subtitle"></span>
                        </div>
                        <div class="content">
                            <i class="fa fa-check-circle-o"></i>
                            <span id="spnTelefono" class="card-subtitle"></span>
                        </div>
                        <div class="content">
                            <i class="fa fa-check-circle-o"></i>
                            <span id="spnNIT" class="card-subtitle"></span>
                        </div>
                        <div class="content">
                            <i class="fa fa-check-circle-o"></i>
                            <span id="spnOPerador" class="card-subtitle"></span>
                        </div>
                        <div class="content">
                            <i class="fa fa-check-circle-o"></i>
                            <span id="spnCorporativo" class="card-subtitle"></span>
                        </div>
                        <div class="content">
                            <i class="fa fa-check-circle-o"></i>
                            <span id="spnLineas" class="card-subtitle"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>listar-detalle-servicios}}

{{>direccion}}

<!-- Horas disponibles para Cita-->
<div id="modalHorasCitas" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">
                    Horas disponibles para agendar cita:
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cerrar
                </button>
                <button type="submit" class="btn btn-success waves-effect text-left">
                    Agendar hora
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal detalles cliente registrado-->
<div class="modal fade ModalDetalles" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg" style="max-width: 1000px">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-5">
                    <h2 class="modal-title font-weight-bold">
                        <i class="fa fa-warning"></i> ¡Cliente ya registrado!
                    </h2>
                </div>
                <div class="col-md-2">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
            </div>
            <div class="card m-b-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="form-group">
                                <div id="MensajeLabel" class="col-md-12">
                                </div>
                            </div>
                        </div>
                        <div id="RazonesNoDisponible" class="col-md-6 text-center">
                            <div class="form-group">
                                <h5 class="font-weight-bold">Razones:</h5>
                                <b></b>
                                <p id="listRazones"></p>
                            </div>
                        </div>
                        <div id="ValidarBtnLlamar" class="col-md-6 text-center">
                            <button type="button" onclick="LlamarClienteRegistrado()" class="btn btn-info">
                                <i class="fa fa-phone"></i> Llamar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{>detalles-clientes}}
        </div>
    </div>
</div>

{{!-- Previsualizar oferta --}}
<div id="modalPrevisualizaroferta" class="modal modalFullScreen fade" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="font-weight-bold" id="myLargeModalLabel">
                    Previsualizar oferta
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div id="ContenidoOferta" class="modal-body">
                <div class="row m-b-20">
                    <div class="col-md-12 text-center font-weight-bold">
                        <h1 class="font-weight-bold">Hola, <span id="nombreCliente"></span></h1>
                        <h4>Esta es la oferta que tenemos actualmente:</h4>
                        <h4 id="textoSuperior"></h4>
                    </div>
                </div>
                <div id="ContenidoDinamico">

                </div>
                <div id="filaAclaraciones_Notas" class="row">
                    <div id="columnaNotas" class="col-md-12">
                        <div class="sectionNotas">
                            <h2 class="SubTituloOferta"> <i class="fa fa-file-text"></i> Notas:</h2>
                            <ul id="listaNotasModal">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="sectionIndicaciones">
                            <h4 class="SubTituloOferta">
                                <span id="nombreCliente2"></span>, en caso de que desee iniciar plan corporativo,
                                los documentos que se necesitan para continuar con el proceso son:
                            </h4>
                            <ul>
                                <li>Cámara de comercio.</li>
                                <li>Foto por lado y lado de la cédula del representante legal de la empresa.</li>
                                <li>Un soporte de ingresos que puede ser solo uno de estas opciones:
                                    <ul>
                                        <li>Declaración de renta del año anterior</li>
                                        <li>Extractos bancarios de los 2 últimos meses.</li>
                                        <li>Factura del operador actual (solo si cuenta con plan corporativo)</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="sectionContacto">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        Puede enviar los documentos a este correo o si tiene dudas y desea asesoría
                                        puede
                                        ingresar al botón de contactar vía WhatsApp
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div id="imgOperador" class="imgOperador">

                                    </div>
                                </div>
                                <div class="col-md-4 centarContenido quitarPadding">
                                    <h4>Ejecutivo comercial</h4>
                                    <h4>Nombre asesor</h4>
                                    <h4>WhatsApp: 3123445678</h4>
                                </div>
                                <div class="col-md-4 centarContenido2 quitarPadding">
                                    <button class="btn btn-verde"><i class="mdi mdi-whatsapp"></i> Contactar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Cordialmente,</h4>
                        <h4>Ejecutivo comercial,</h4>
                        <h4 id="nombreEmpleado"></h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  Factura-->
{{!-- {{>modal-factura}} --}}
<!-- /Modal  Factura-->