/* Login */
.MyStyle_login_fondo {
  background-color: #272c33;
}

.MyStyle_login_box {
  color: #000 !important;
  background: #eef5f9 !important;
  width: 650px !important;
  margin-top: 5% !important;
  border: none;
}
/* td{
    background-color: #434343;
} */

/* Card 1 */
.MyStyle_Card1_Fondo {
  height: 100%;
  background: url(../assets/images/Logos/logo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.MyStyle_Box_Logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -10%;
  left: 30%;
}

/* Card 2 */
.MyStyle_Logo_Empresa {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.MyStyle_Card2_box {
  padding-top: 25%;
}

.MyStyle_Form_Control {
  color: #000 !important;
}

.MyStyle_Form_Control:focus {
  background-image: linear-gradient(#00897b, #00897b),
    linear-gradient(rgba(120, 130, 140, 0.13), rgba(120, 130, 140, 0.13)) !important;
}

.MyStyle_Btn_Login {
  color: #f3f3f3;
  background: rgb(28, 231, 204);
  border: 2px solid rgb(28, 231, 204);
}

.MyStyle_Btn_Login:hover {
  color: #f3f3f3;
  background-color: rgb(28, 231, 204);
  border: 2px solid #00897b;
}

/* Recuperar Contraseña */
.MyStyle_btn_Regresar {
  position: absolute;
  top: 10%;
}

/* Registro */
.MyStyle_Card_Header {
  background: #00897b !important;
  border-color: #00897b !important;
}

.MyStyle_File_Card {
  padding-top: 0 !important;
}

/* .form-horizontal label {
    padding-top: 7px !important;
} */

/* Panel de Control */
.tabs-vertical > li > a > span > i {
  margin-right: 10px;
}

.MyStyle_Tabs {
  width: 100% !important;
}

/* Tabla Llamadas */
.MyStyle_Color-Table thead tr th {
  background-color: #00897b !important;
  color: #ffffff !important;
}

.MyStyle_Table_num {
  max-width: 10px !important;
}
.MyStyle_Table_Estado {
  max-width: 10px !important;
}
.MyStyle_Table_Opciones {
  min-width: 180px;
}
.MyStyle_Table_Opciones_V2 {
  min-width: 50px;
}
.MyStyle_Table_Asesor {
  min-width: 240px;
}
.MyStyle_Table_Empresa {
  min-width: 180px;
}
.MyStyle_Table_Fecha {
  max-width: 10px !important;
}

.MyStyle_Table_Hora {
  max-width: 40px !important;
}

.MyStyle_demo-checkbox {
  min-width: 50px !important;
}

.MyStyle_Guion {
  margin-top: 290%;
}

.MyStyle_Card_Detalle {
  box-shadow: none !important;
}

.MyStyle_Modal_Dialog {
  max-width: 600px !important;
}

.MyStyle_Calentar_List {
  padding: 8px 10px;
  border: 1px solid #ffffff;
}

/* Filtro */
.btn-verde {
  color: #fff;
  background: #00897b;
}

.input-group-addon {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid#ced4da;
}

/* Card (Atención telefónica, Llamada Pre, LLamada no pre*/

/* Modal Detalles usuarios y empleados */
.MyStyle_Detalles_Emp_Usu {
  font-weight: bold;
}

/* Modal editar usuarios */

.MyStyle_Id_Principal_Column {
  display: none;
}

.MyStyle_Btn_Docs {
  color: #000 !important;
}
/* .MyStyle_Modal_Editar_Usuarios{
    max-height: 400px !important;
} */

.MyStyle_Checkbox {
  display: none;
}

.select2-search__field {
  width: 100% !important;
}

/* Switch Tema */
.MyStyle_Tema_Switch {
  padding: 9px 15px;
}

.MyStyle_Tema_Switch > div {
  display: inline-block;
}

.MyStyle_Color_Comparativo thead th.op1 {
  background-color: #379b79;
  color: #ffffff;
}

.MyStyle_Color_Comparativo thead th.op2 {
  background-color: #be3434;
  color: #ffffff;
}

#Tabla_Detalle_Lineas tr td [type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  font-size: 0.8rem !important;
}
.MyStyle_Cargo_Detalle_Linea {
  width: 8rem !important;
}

.btn.disabled,
.btn:disabled {
  opacity: 0.3 !important;
  cursor: not-allowed !important;
}

[type="checkbox"] + label.checkbox {
  height: 10px !important;
  margin-left: 10px !important;
}

.MyStyle_modalTamaño1000 {
  max-width: 1000px !important;
}

.MyStyle_DireccionFinal {
  opacity: 1 !important;
  /* background-color: #fff !important; */
  font-weight: bold;
}

.clockpicker-popover {
  z-index: 999999;
}

.MyStyle_FondoRound,
.btn_sin_fondo {
  background: transparent !important;
}

/* Notificaciones */

.notificaciones .numNotificaciones {
  position: absolute;
  top: 5px;
  left: 20px;
  border-radius: 50%;
  color: #fff;
  background: #ff0000;
  line-height: 18px;
  font-family: sans-serif;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  width: 22px;
  height: 20px;
}

.text-color-verde {
  color: #00897b;
}

.fondo-verde {
  background: #00897b;
  color: #fff;
}

.MyStyle_Notificacion {
  font-size: 1.3rem !important;
  line-height: 1 !important;
}

.CargandoGif {
  background-image: url(/assets/images/icon/cargando.gif) !important;
}

.titulo_header_llamadas {
  pointer-events: none;
}

/* STEPS */
.wizard-content .wizard > .steps > ul > li.done .step {
  background-color: #00897b !important;
  border-color: #00897b !important;
  color: #fff !important;
}
.wizard-content .wizard.wizard-circle > .steps > ul > li:after,
.wizard-content .wizard.wizard-circle > .steps > ul > li:before {
  background-color: #00897b !important;
}
.wizard-content .wizard > .steps > ul > li.current .step {
  border-color: #00897b !important;
  background-color: #333333 !important;
  color: #00897b !important;
}
.wizard-content .wizard > .actions > ul > li > a {
  background: #00897b !important;
  color: #fff !important;
}
.wizard-content .wizard > .actions > ul > li > a[href="#previous"] {
  background-color: #fff !important;
  color: #54667a !important;
  border: 1px solid #d9d9d9 !important;
}

.opciones-collapse a {
  float: right;
  color: #fff !important;
  /* padding-left: 7px;
  font-size: 15px; */
}

.ServiciosFijosItems {
  margin-right: 5%;
}

.tabs-vertical li .nav-link.active,
.tabs-vertical li .nav-link:hover,
.tabs-vertical li .nav-link.active:focus {
  background: #00897b !important;
}

/* Propuestas */

.modalFullScreen {
  padding: 0 !important;
}

.modalFullScreen .modal-dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}

.modalFullScreen .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}

.modalFullScreen .modal-body {
  overflow-y: auto;
}

.cardPropuesta {
  width: 100%;
  padding: 20px 20px;
}

.cardPropuesta .tituloPropuesta {
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.cardPropuesta .colum1Titulo {
  min-width: 250px;
  padding-left: 20px;
}

.cardPropuesta .columna1 {
  /* text-align: center; */
  font-weight: bold;
  padding-left: 20px;
}

/* .cardPropuesta .columna2 {
  text-align: center;
} */

.cardPropuesta .tdPadre {
  position: relative;
}

.cardPropuesta .divHijo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  margin: auto;
}

.SubTituloOferta {
  font-weight: bold;
}

.imgOperador {
  height: 150px;
  text-align: center;
}

.imgOperador img {
  height: 100%;
}

.colPadre {
  position: relative;
}

#filaAclaraciones_Notas {
  margin-bottom: 50px;
}
.sectionAclaraciones {
  border-radius: 80px;
  background-color: #a82d2d;
  color: #fff;
  padding: 20px 50px;
  margin-left: 5%;
}

.sectionAclaraciones h2 {
  color: #fff;
}

.sectionAclaraciones ul li {
  text-align: justify;
  margin-top: 15px;
}

.sectionNotas {
  padding: 20px 50px;
}

.sectionNotas ul li {
  margin-bottom: 10px;
}

.sectionIndicaciones {
  border-radius: 80px;
  border: #379b79 solid 8px;
  padding: 40px 20px;
  margin: 0 20%;
}

.sectionContacto {
  padding: 40px;
  margin: 5% 20%;
  box-shadow: 14px 10px 35px 8px rgba(0, 0, 0, 0.5);
  border-radius: 80px;
}

.sectionContacto .centarContenido {
  text-align: center;
  padding-top: 30px;
}

.sectionContacto .centarContenido2 {
  text-align: center;
  padding-top: 50px;
}

.sectionContacto .quitarPadding {
  padding-left: 0;
  padding-right: 0;
}

.swiper-container {
  width: 100% !important;
  padding-top: 20px !important;
  /* padding-bottom: 50px !important; */
}

.swiper-slide {
  background-position: center !important;
  background-size: cover !important;
  width: 300px !important;
  height: 300px !important;
}

.CardServicios {
  position: relative;
  width: 100%;
  height: 200px;
  /* transform: translate(-50%, -50%); */
  /* background: #495057; */
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.CardServicios .poster {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.CardServicios .poster::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(0deg, #379b79 10%, transparent); */
  transition: 0.5s;
  z-index: 1;
}

.CardServicios .poster .icon {
  width: 100%;
  height: 100%;
  font-size: 9rem;
  /* text-align: center; */
}

.CardServicios .poster .icon i {
  position: absolute;
  top: 0;
  left: 25%;
}
.CardServicios .details {
  position: absolute;
  padding: 20px;
  height: 100%;
  width: 100%;
  bottom: -65%;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}

.CardServicios:hover .details {
  bottom: 0;
  background-color: #495057;
  color: #fff;
}
.CardServicios .details.show {
  bottom: 0;
  background-color: #495057;
  color: #fff;
}

.CardServicios .details.show .info {
  display: block;
}

.CardServicios .details .titulo {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.CardServicios .details .titulo label {
  font-size: 2rem !important;
  transition: none;
}

.CardServicios:hover .details .titulo label {
  transition: none;
}
.CardServicios .details .info {
  display: none;
  margin-top: 10px;
}
.CardServicios:hover .details .info {
  display: block;
  /* transition: 0.5s; */
}

.CardServicios .details .info h4 {
  color: #fff;
  font-weight: bold;
}
.CardServicios .details .info .mensaje_consulta {
  font-size: 10px;
  color: #99abb4;
}

.icono_mark {
  display: none;
  position: absolute;
  top: 0;
  left: 5%;
  color: #00897b;
  font-size: 2rem;
}
.icono_mark.show {
  display: block;
}

#Pseudo_tabOfertaE {
  cursor: pointer;
}
#Pseudo_tabOfertaP {
  cursor: pointer;
}

/* Comparativo */

.cardComparativo {
  border: 2px solid #495057 !important;
  border-radius: 10px !important;
}

.colAjuste {
  margin-left: 25%;
}

.titulo_comparativo {
  background-color: #495057;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.cardAjuste {
  border: 2px solid !important;
  border-radius: 10px !important;
}
.titulo_ajuste {
  font-weight: bold;
  text-align: center;
  color: #fff;
}
