<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4 class="card-title m-t-10">Asignación de citas </h4>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" data-toggle="modal" data-target="#CitasSinAsignar"
                                        class="btn m-t-10 btn-info btn-block waves-effect waves-light">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12" id="List-Operadores">
                                    <h6>Operadores</h6>
                                    
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="card-body b-l calender-sidebar">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Citas sin asignar -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="CitasSinAsignar">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Citas sin asignar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                         <table id="SinAsignarDataTable" class="table table-bordered table-striped MyStyle_Color-Table">
                       <thead>
                            <tr>
                                <th class="MyStyle_Table_Empresa">Empresa</th>
                                <th class="MyStyle_Table_Fecha">Fecha</th>
                                <th class="MyStyle_Table_Hora">Hora</th>
                                <th class="MyStyle_Table_Asesor">Asesor</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                     <div class="form-group m-t-30">
                    <button type="button" class="btn btn-info" id="BtnAsignar" title="Asignar citas"> <i
                    class="fa  fa-user"></i> Asignar citas</button>                   
                </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END MODAL TABLE Citas -->
