<div class="card">
    <div class="card-header MyStyle_Card_Header">
        <div class="row">
            <div class="col-md-10">
                <h4 class="m-b-0 text-white">Lista de citas:</h4>
            </div>
        </div>
    </div>
    <div class="card-body" id="Card-Body-Directorio">
       <div class="card">
        <div class="card-header MyStyle_Card_Header">
                <h4 class="m-b-0 text-white">Filtro avanzado :</h4>
        </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="example">
                            <label class="m-t-30">Empresa cita</label>
                            <input type="text" class="form-control" id="Empresa-Cita" placeholder="Empresa">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="example">
                            <label class="m-t-30">Fecha cita</label>
                            <div class="input-daterange input-group" id="Fecha-Cita">
                                <span class="input-group-addon">Inicio</span>
                                <input type="text" class="input-sm form-control" id="Fecha-Cita-Inicio"
                                    placeholder="dd/mm/yyyy" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="example">
                            <label class="m-t-30">Hora cita</label>
                            <div class="input-group clockpicker" data-placement="bottom" data-align="top"
                                data-autoclose="true">
                                <div class="input-group-append"><span class="input-group-text"><i
                                            class="fa fa-clock-o"></i></span>
                                </div>
                                <input type="text" id="Hora-Cita-Filtro" class="form-control" placeholder="Hora">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="example">
                            <label class="m-t-30">Operador cita</label>
                            <input class="form-control" type="text" id="Cita-Operador-Filtro" placeholder="Operador">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="example">
                            <label class="m-t-30">Estado cita</label>
                            <input class="form-control" type="text" id="Cita-Estado-Filtro" placeholder="Estado">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group m-t-30 MyStyle_Btn_Filtro ">
                            <button type="button" onclick="LimpiarFiltroCitas();" class="btn btn-info">
                                Limpiar filtro avanzado <i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
    </div>



        <!--************** DataTable ***************************** -->

        <div class="table-responsive">
            <table id="CitasDataTable" class="table table-bordered table-striped MyStyle_Color-Table">
                <thead>
                    <tr>
                        <th><i class="fa fa-check-circle"></i></th>
                        <th><i class="fa fa-building-o"></i> Empresa</th>
                        <th><i class="fa fa-phone-square"></i> Operador</th>
                        <th><i class="fa fa-calendar-o"></i> Fecha </th>
                        <th><i class="fa fa-clock-o"></i> Hora</th>
                        <th><i class="fa fa-list-ul"></i> Estado</th>
                        <th class="MyStyle_Table_Opciones"><i class="fa fa-sliders"></i> Opciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="form-group m-t-30">
                <button type="button" class="btn btn-info mr-3" id="BtnReporte1" title="Agregar citas a reporte"><i
                        class="fa  fa-file-pdf-o"></i> Citas en reporte</button>

                <button type="button" class="btn btn-danger" id="BtnInterna1" title="Agregar citas a internas"><i
                        class="fa  fa-calendar"></i> Citas internas</button>
            </div>

        </div>
    </div>
</div>
</div>
</div>
<!--Modal reporte -->
<div class="modal fade" id="ModalReporte" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" style="display: none;" id="myModal">
    <div class="modal-dialog " style="max-width: 1000px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">
                    Citas seleccionadas</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <table id="CitasReporteDataTable" class="table table-bordered table-striped MyStyle_Color-Table"
                        style="width:965px;">
                        <thead>
                            <tr>
                                <th><i class="fa fa-building-o"></i> Empresa</th>
                                <th><i class="fa fa-phone-square"></i> Operador</th>
                                <th><i class="fa fa-calendar-o"></i> Fecha </th>
                                <th><i class="fa fa-clock-o"></i> Hora</th>
                                <th><i class="fa fa-list-ul"></i> Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    <form id="FormAsesores">
                        <div class="form-group m-t-30">
                            <div class="form-group col-sm-3 m-t-30 float-right">
                                <a type="button" class="btn btn-info float-right" target="_blank" id="DescargarPdf"><i
                                        class="fa fa-file-pdf-o"></i> Ver PDF</a>
                            </div>
                            <div class="form-group row col-md-4" style="left:-0.7rem;">
                                <label>Asesores externos</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="ti-user"></i>
                                        </span>
                                    </div>
                                    <select id="SelectAsesorEx" class="custom-select form-control col-12"
                                        name="SelectAseExt"></select>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-sign-in"></i>
                    Salir</button>
                <button type="submit" id="BtnReporte" class="btn btn-info">Asignar</button>
                </form>
            </div>
        </div>

    </div>
</div>
<!-- /.modal-content -->
<!--Modal interna -->
<div class="modal fade" id="ModalInterna" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" style="display: none;" id="myModal">
    <div class="modal-dialog " style="max-width: 1000px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">
                    Citas seleccionadas</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <table id="CitasInternaDataTable" class="table table-bordered table-striped MyStyle_Color-Table"
                        style="width:965px;">
                        <thead>
                            <tr>
                                <th><i class="fa fa-building-o"></i> Empresa</th>
                                <th><i class="fa fa-phone-square"></i> Operador</th>
                                <th><i class="fa fa-calendar-o"></i> Fecha </th>
                                <th><i class="fa fa-clock-o"></i> Hora</th>
                                <th><i class="fa fa-list-ul"></i> Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-sign-in"></i>
                    Salir</button>
                <button type="button" id="BtnInterna" class="btn btn-info">Agregar a interna</button>
               
            </div>
        </div>

    </div>
</div>


<!-- Detalle empresa -->
<div class="modal fade ModalDetalles" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
    style="display: none;" id="myModal">
    <div class="modal-dialog " style="max-width: 1000px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">
                    Detalle citas</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="card m-b-0">
                    <div class="card-body ">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="DateBasic" data-toggle="tab" href="#DatosBasicos"
                                    role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span>
                                    <span class="hidden-xs-down">
                                        Información contacto
                                    </span>
                                </a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#CitaProgramada" role="tab"><span
                                        class="hidden-sm-up"><i class="ti-email"></i></span>
                                    <span class="hidden-xs-down">
                                        Cita programada
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#infoLlamada" role="tab"><span
                                        class="hidden-sm-up"><i class="ti-email"></i></span>
                                    <span class="hidden-xs-down">
                                        Información de llamada
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item" id="ReportVisit">
                                <a class="nav-link" data-toggle="tab" href="#ReporteCitaAsesor" role="start"><span
                                        class="hidden-sm-up"><i class="ti-email"></i></span>
                                    <span class="hidden-xs-down">
                                        Reporte visita
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item" id="NovedadesLi">
                                <a class="nav-link" data-toggle="tab" href="#Novedades-TabPane" role="start"><span
                                        class="hidden-sm-up"><i class="ti-email"></i></span>
                                    <span class="hidden-xs-down">
                                        Novedades
                                    </span>
                                </a>
                            </li>
                        </ul>


                        <!-- Tab panes -->
                        <div class="tab-content tabcontent-border">
                            <!-- Tab Datos Básicos -->
                            <div class="tab-pane active" id="DatosBasicos" role="tabpanel">
                                <!-- Card Datos Básicos  -->
                                <div class="card MyStyle_Card_Detalle">
                                    <div class="card-body">
                                        <!-- Formulario -->
                                        <form class="form-horizontal" role="form">
                                            <div class="form-body">
                                                <h3 class="box-title">
                                                    Información
                                                    Empresa</h3>
                                                <hr class="m-t-0 m-b-40">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                NIT:
                                                            </label>
                                                            <p class="form-control-static" id="Nit-Citas">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <!--/col-->
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Razón
                                                                Social:
                                                            </label>
                                                            <p class="form-control-static" id="RazonSocial-Citas">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <!--/col-->
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Teléfono:
                                                            </label>
                                                            <p class="form-control-static" id="Telefono-Citas">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <!--/col-->

                                                </div>
                                                <!--/row-->

                                                <!--/row-->
                                                <!-- /Row -->
                                            </div>
                                            <!-- Form-Body -->
                                        </form>
                                        <!-- /Formulario -->
                                    </div>
                                </div>

                            </div>


                            <!-- Informaciòn llamada -->
                            <div class="tab-pane" id="infoLlamada" role="tabpanel">
                                <div class="card MyStyle_Card_Detalle">
                                    <div class="card-body">
                                        <!-- Formulario -->
                                        <form class="form-horizontal" role="form">
                                            <div class="form-body">
                                                <h3 class="box-title">
                                                    Información Llamada</h3>
                                                <hr class="m-t-0 m-b-40">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Contact center:
                                                            </label>
                                                            <p class="form-control-static">
                                                                Juan
                                                                Pérez
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <!--/col-->
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Persona que responde
                                                                :
                                                            </label>
                                                            <p class="form-control-static" id="DueñoEmpresa-Citas">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <!--/col-->
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Fecha llamada:
                                                            </label>
                                                            <p class="form-control-static" id="FechaLlamada-Citas">

                                                            </p>
                                                        </div>
                                                    </div>
                                                    <!--/col-->

                                                </div>
                                                <!--/row-->
                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Hora llamada

                                                                :
                                                            </label>
                                                            <p class="form-control-static" id="HoraLlamada-Cita">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <!--/col-->
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Habeas data

                                                                :
                                                            </label>
                                                            <p class="form-control-static" id="InfoHabeas-Citas">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <!--/col-->
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Estado
                                                                :
                                                            </label>
                                                            <p class="form-control-static" id="EstadoLlamada-Citas">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Observación
                                                                :
                                                            </label>
                                                            <p class="form-control-static"
                                                                id="ObservacionLlamada-Citas">

                                                            </p>

                                                        </div>
                                                    </div>

                                                    <!--/col-->
                                                </div>
                                                <!--/row-->

                                                <!-- /Row -->

                                                <!-- /Row -->
                                            </div>
                                            <!-- Form-Body -->
                                        </form>
                                        <!-- /Formulario -->
                                    </div>
                                </div>
                            </div>
                            <!-- informacion de cita, dia, fecha,... -->

                            <div class="tab-pane " role="tabpanel" id="CitaProgramada">
                                <!-- Card Datos Básicos  -->
                                <div class="card MyStyle_Card_Detalle">
                                    <div class="card-body">
                                        <!-- Formulario -->
                                        <form class="form-horizontal" role="form">
                                            <div class="form-body">
                                                <h3 class="box-title">
                                                    Cita Programada</h3>
                                                <hr class="m-t-0 m-b-40">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Fecha cita:
                                                            </label>
                                                            <p class="form-control-static" id="Fecha-Citass">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <!--/col-->
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Hora cita
                                                                :
                                                            </label>
                                                            <p class="form-control-static" id="Hora-Cita">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <!--/col-->
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Departamento:
                                                            </label>
                                                            <p class="form-control-static" id="Departamento-Cita">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <!--/col-->

                                                </div>
                                                <!--/row-->
                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Municipio:
                                                            </label>
                                                            <p class="form-control-static" id="Municipio-Cita">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <!--/col-->
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Barrio:
                                                            </label>
                                                            <p class="form-control-static" id="Barrio-Cita">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <!--/col-->
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Nomenclatura:
                                                            </label>
                                                            <p class="form-control-static" id="Direccion-Cita">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <!--/col-->
                                                </div>
                                                <!--/row-->

                                                <!-- /Row -->
                                            </div>
                                            <!-- Form-Body -->
                                        </form>
                                        <!-- /Formulario -->
                                    </div>
                                </div>

                            </div>
                            <!--ultimo car reporte cita-->
                            <div class="tab-pane" id="ReporteCitaAsesor" role="tabpanel">
                                <div class="card MyStyle_Card_Detalle">
                                    <div class="card-body">
                                        <!-- Formulario -->
                                        <form class="form-horizontal" role="form">
                                            <div class="form-body">
                                                <h3 class="box-title">
                                                    Información de visita
                                                </h3>
                                                <hr class="m-t-0 m-b-40">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Fecha visita:
                                                            </label>
                                                            <p class="form-control-static" id="Fecha-Visita">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Tipo de venta:
                                                            </label>
                                                            <p class="form-control-static" id="TipoVenta-Citas">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Estado visita:
                                                            </label>
                                                            <p class="form-control-static" id="EstadoVisita-Citas">

                                                            </p>
                                                        </div>
                                                    </div>
                                                    <!--/col-->
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Asesor:
                                                            </label>
                                                            <p class="form-control-static" id="Asesor-Cita">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <!--/col-->

                                                </div>





                                                <!--/row-->

                                                <!--/row-->


                                                <!-- /Row -->
                                            </div>
                                            <!-- Form-Body -->
                                        </form>
                                        <!-- /Formulario -->
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="Novedades-TabPane" role="tabpanel">
                                <div class="card MyStyle_Card_Detalle">
                                    <div class="card-body">
                                        <!-- Formulario -->
                                        <form class="form-horizontal" role="form">
                                            <div class="form-body">
                                                <h3 class="box-title">
                                                    Novedad
                                                </h3>
                                                <hr class="m-t-0 m-b-40">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Fecha novedad:
                                                            </label>
                                                            <p class="form-control-static" id="Fecha-Novedad">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Estado novedad:
                                                            </label>
                                                            <p class="form-control-static" id="Estado-Novedad">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label text-right">
                                                                Descripción novedad:
                                                            </label>
                                                            <p class="form-control-static" id="Descripcion-Novedad">

                                                            </p>

                                                        </div>
                                                    </div>
                                                    <!--/col-->
                                                </div>
                                                <!--/row-->

                                                <!--/row-->


                                                <!-- /Row -->
                                            </div>
                                            <!-- Form-Body -->
                                        </form>
                                        <!-- /Formulario -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-info">
                            <i class="fa fa-pencil"></i> Modificar
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>


  <div class="modal fade ModalEditarCitas" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" style="display: none;" id="myModal">
    <div class="modal-dialog " style="max-width: 1000px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">
                    Editar citas <i class="fa fa-pencil-square"></i></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
              <form id="EditarCitas_Form">
                <div class="row">
                    <div class="col-md-4">
                    <label for="message-text" class="col-form-label">Encargado cita:</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa fa-address-book"></i>
                                </span>
                            </div>
                            
                            <input type="text" name="Encargado_Cita" id="Encargado_Cita" placeholder="Encargado" class="form-control">
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="message-text" class="col-form-label">Telefono emergente:</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa fa-phone-square"></i>
                                </span>
                            </div>
                            
                            <input type="text" name="Ext_Tel_Contacto_Cita" id="Ext_Tel_Contacto_Cita" placeholder="3892843" class="form-control">
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                                    <label for="location1" class="col-form-label"> Representante legal
                                        <span class="text-danger">*</span>
                                    </label>
                                     <div class="form-group">
                                    <div id="switchCitas1" class="switch">
                                        <label>
                                            <strong> NO</strong>
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                            <strong>SI</strong>
                                        </label>
                                    </div>
                                </div>
                                </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                    <label for="message-text" class="col-form-label">Fecha cita:</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa fa-calendar-o"></i>
                                </span>
                            </div>
                            
                            <input type="text" name="Fecha_Cita" id="Fecha_Cita" placeholder="00/00/00" class="form-control">
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="message-text" class="col-form-label">Dirección</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="mdi mdi-map-marker"></i>
                                </span>
                            </div>
                            
                            <input type="text" class="form-control" id="txtDireccion" name="txtDireccion"
                                        readonly data-toggle="modal" data-target="#modalDireccion"
                                        placeholder="Dirección">
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="message-text" class="col-form-label">Barrios o veredas:</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa fa-road"></i>
                                </span>
                            </div>
                            
                            <select class="custom-select"  id="EditCitas_Barrios_Veredas" name="Barrios_Veredas">
                            </select> 
                        </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    <label for="message-text" class="col-form-label">Lugar referencia:</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="mdi mdi-map-marker"></i>
                                </span>
                            </div>
                            
                            <input type="text" name="Lugar_Referencia" id="Lugar_Referencia" placeholder="Poblado" class="form-control">
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="message-text" class="col-form-label">Operador</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa fa-phone-square"></i>
                                </span>
                            </div>
                            
                             <select class="custom-select" name="Operadores_EditCit" id="Operadores_EditCit">
                            </select> 
                        </div>
                    </div>
                  </div>
                </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info" id="Editar_Cita">Editar <i class="fa fa-pencil-square"></i></button></button>
                    </div>
                </form>
        </div>

    </div>
</div>
</div>




<div class="modal fade" data-backdrop="static" data-keyboard="false" id="Novedades-Modal" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novedades <i class="fa fa-info-circle"></i></h5>
                </button>
            </div>
            <div class="modal-body">
                <form id="Novedades_Form">
                    <label for="message-text" class="col-form-label">Escribe tú novedad:</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa fa-info-circle"></i>
                                </span>
                            </div>
                            <textarea rows="4" cols="10" class="form-control" name="Novedadd"
                                placeholder="Copiar descripción" id="Novedad"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info" id="Novedades-Enviar">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{>direccion}}