<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body wizard-content">
                <h4 class="card-title font-weight-bold">
                    Editar información del cliente:
                </h4>
                <hr class="m-t-10 m-b-20">
                <form id="Form_Editar_Clientes" class="wizard-circle">
                    <!-- Step 1 -->
                    <h6>Información de contacto</h6>
                    <section>
                        <hr class="m-t-0 m-b-20">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Razón social:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" name="txtRazonSocial" id="txtRazonSocial"
                                        class="form-control form-control-danger" placeholder="Empresa S.A">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="emailAddress1"> Teléfono:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="number" class="form-control" id="txtTelefono" name="txtTelefono"
                                        placeholder="4123456">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="int1">Extensión:</label>
                                    <input type="text" class="form-control" id="txtExtension" name="txtExtension"
                                        placeholder="Ext:101">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        NIT:
                                    </label>
                                    <input type="text" id="txtNIT" name="txtNIT" class="form-control"
                                        placeholder="12345678-9">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="int1">Encargado:</label>
                                    <input type="text" class="form-control" id="txtEncargado" name="txtEncargado"
                                        placeholder="Jhon Doe">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="int1">Correo</label>
                                    <input type="text" class="form-control" id="txtCorreo" name="txtCorreo"
                                        placeholder="ejemplo@gmail.com">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="int1">Código postal:</label>
                                    <input type="text" class="form-control" id="txtCodigoPostal" name="txtCodigoPostal"
                                        placeholder="+57" value="57">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="int1">Celular:</label>
                                    <input type="text" class="form-control" id="txtCelular" name="txtCelular"
                                        placeholder="Número: 3123456789">
                                </div>
                            </div>
                        </div>
                        <h4 class="box-title d-inline-block">Ubicación:</h4>
                        <input name="Validacion_UbicacionEmpresa" type="radio" class="with-gap"
                            id="Validacion_UbicacionEmpresa">
                        <label for="Validacion_UbicacionEmpresa">Colombia/Antioquia/Medellín/Barrio</label>
                        <hr class="m-t-0 m-b-20">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">País:<span class="text-danger">*</span></label>
                                    <select name="txtPais" id="txtPais" class="select2 form-control custom-select"
                                        style="width: 100%; height:36px;">
                                        <option selected disabled>Seleccione...</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Departamento:<span class="text-danger">*</span></label>
                                    <select name="txtDepartamento" id="txtDepartamento"
                                        class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                        <option selected disabled>Seleccione...</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Municipio:<span class="text-danger">*</span></label>
                                    <select name="txtMunicipio" id="txtMunicipio"
                                        class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                        <option selected disabled>Seleccione...</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /Row -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Barrio o Vereda</label>
                                    <select name="txtSubTipo" id="txtSubTipo" class="select2 form-control custom-select"
                                        style="width: 100%; height:36px;">
                                        <option selected disabled>Seleccione...</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nombre Lugar</label>
                                    <select name="txtNombre_Lugar" id="txtNombre_Lugar"
                                        class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                        <option selected disabled>Seleccione...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="emailAddress1"> Dirección:</label>
                                    <input type="text" class="form-control" id="txtDireccion" name="txtDireccion"
                                        readonly data-toggle="modal" data-target="#modalDireccion"
                                        placeholder="Dirección">
                                </div>
                            </div>
                    </section>
                    <!-- Step 2 -->
                    <h6>Datos básicos líneas</h6>
                    <section>
                        <hr class="m-t-0 m-b-20">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="location1">¿Corporativo?</label>
                                            <input type="checkbox" class="switch_corporativo">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Operador del <strong>cliente</strong>
                                            </label>
                                            <select name="txtOperador" id="txtOperador"
                                                class="select2 form-control custom-select valDetalle">
                                                <option selected disabled>Seleccione...</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Calificación del operador
                                            </label>
                                            <select name="txtCalificacion" id="txtCalificacion"
                                                class="select2 form-control custom-select valDetalle">
                                                <option selected disabled>Seleccione...</option>
                                                <option value="1">1</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        Razones:
                                    </label>
                                    <select id="txtRazones" class="Select_Razones select2-multiple m-b-10 valDetalle"
                                        style="width: 100%" multiple="multiple" data-placeholder="Seleccione o escriba">
                                    </select>
                                </div>
                            </div>
                        </div>

                        {{>registrar-detalle-servicios}}

                    </section>
                    <!-- Step 3 -->
                    <h6>Plan corporativo</h6>
                    <section>
                        <hr class="m-t-0 m-b-20">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="location1">¿Claúsula permanencia?</label>
                                    <div id="switchClausula" class="switch">
                                        <label>
                                            <strong> NO</strong>
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                            <strong>SI</strong>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label for="txtFecha_inicio">Fecha del corporativo:</label>
                                    <div class="input-daterange input-group" id="Fecha_Corporativo">
                                        <span class="input-group-addon">Inicio</span>
                                        <input type="text" class="input-sm form-control" name="txtFecha_inicio"
                                            id="txtFecha_inicio" placeholder="yyyy/mm/dd" />
                                        <span class="input-group-addon">Fin</span>
                                        <input type="text" class="input-sm form-control" name="txtFecha_fin"
                                            id="txtFecha_fin" placeholder="yyyy/mm/dd" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="location1">¿Documentos?</label>
                                    <input type="checkbox" class="switch_doc">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="participants1">Descripción del corporativo</label>
                                    <textarea name="txtDescripcion" id="txtDescripcion" rows="5" class="form-control"
                                        placeholder="Ingresa una descripción"></textarea>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 4 -->
                    <h6>Documentos</h6>
                    <section>
                        <hr class="m-t-0 m-b-20">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Cámara de comercio: <span class="text-danger">*</span></label>
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput">
                                            <i class="fa fa-file fileinput-exists"></i>
                                            <span class="fileinput-filename"></span>
                                        </div>
                                        <span class="input-group-addon btn btn-secondary btn-file MyStyle_Btn_Docs">
                                            <span class="fileinput-new">Seleccionar</span>
                                            <span class="fileinput-exists">Cambiar</span>
                                            <input type="file" name="txtCamara_Comercio" id="txtCamara_Comercio">
                                        </span>
                                        <a href="#"
                                            class="input-group-addon btn btn-secondary fileinput-exists MyStyle_Btn_Docs"
                                            data-dismiss="fileinput">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Cédula de ciudadanía: <span class="text-danger">*</span></label>
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput">
                                            <i class="fa fa-file fileinput-exists"></i>
                                            <span class="fileinput-filename"></span>
                                        </div>
                                        <span class="input-group-addon btn btn-secondary btn-file MyStyle_Btn_Docs">
                                            <span class="fileinput-new">Seleccionar</span>
                                            <span class="fileinput-exists">Cambiar</span>
                                            <input type="file" name="txtCedula" id="txtCedula">
                                        </span>
                                        <a href="#"
                                            class="input-group-addon btn btn-secondary fileinput-exists MyStyle_Btn_Docs"
                                            data-dismiss="fileinput">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Soporte de ingresos: <span class="text-danger">*</span></label>
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput">
                                            <i class="fa fa-file fileinput-exists"></i>
                                            <span class="fileinput-filename"></span>
                                        </div>
                                        <span class="input-group-addon btn btn-secondary btn-file MyStyle_Btn_Docs">
                                            <span class="fileinput-new">Seleccionar</span>
                                            <span class="fileinput-exists">Cambiar</span>
                                            <input type="file" name="txtSoporte" id="txtSoporte">
                                        </span>
                                        <a href="#"
                                            class="input-group-addon btn btn-secondary fileinput-exists MyStyle_Btn_Docs"
                                            data-dismiss="fileinput">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Detalles plan corporativo:</label>
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput">
                                            <i class="fa fa-file fileinput-exists"></i>
                                            <span class="fileinput-filename"></span>
                                        </div>
                                        <span class="input-group-addon btn btn-secondary btn-file MyStyle_Btn_Docs">
                                            <span class="fileinput-new">Seleccionar</span>
                                            <span class="fileinput-exists">Cambiar</span>
                                            <input type="file" name="txtDetalles" id="txtDetalles">
                                        </span>
                                        <a href="#"
                                            class="input-group-addon btn btn-secondary fileinput-exists MyStyle_Btn_Docs"
                                            data-dismiss="fileinput">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    {{>modal-numeros-lineas}}
                </form>
            </div>
        </div>
    </div>
</div>
{{>listar-detalle-servicios}}

{{>direccion}}