<div class="card">
    <div class="card-header MyStyle_Card_Header">
        <div class="row">
            <div class="col-md-9">
                <h4 class="m-b-0 text-white">Empresas asignadas</h4>
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="AsignacionDataTable" class="table  stylish-table MyStyle_Color-Table">
                <thead>
                    <tr>
                        <th class="text-center"><i class="fa fa-user"></i> Usuario</th>
                        <th class="text-center"><i class="fa fa-clock-o"></i> Nombre</th>
                        <th class="text-center"><i class="fa fa-list-ul"></i> Empresas</th>
                        <th class="text-center"><i class="fa fa-sliders"></i> Opciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Detalles asignacion -->
<div id="ModalDetallesAsignacion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">
                    Empresas asignadas</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="card m-b-0">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="EmpresasAsignadasDataTable" class="table  stylish-table MyStyle_Color-Table">
                                <thead>
                                    <tr>
                                        <th><i class="fa fa-address-card"></i> NIT</th>
                                        <th><i class="fa fa-building-o"></i> Empresa</th>
                                        <th><i class="fa  fa-phone"></i> Teléfono</th>
                                        <th><i class="mdi mdi-cellphone-android"></i> Asignación</th>
                                        <th class="text-center"><i class="fa fa-sliders"></i> Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>