<div class="modal-body">
    <div class="card m-b-0 m-t-0">
        <div class="card-body p-b-0 p-t-0">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a id="Menu_Info" class="nav-link active" data-toggle="tab" href="#DatosBasicos" role="tab"><span
                            class="hidden-sm-up"><i class="ti-home"></i></span>
                        <span class="hidden-xs-down"> Información de contacto </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="Menu_DBL" class="nav-link" data-toggle="tab" href="#Lineas" role="tab">
                        <span class="hidden-sm-up"><i class="ti-email"></i></span>
                        <span class="hidden-xs-down"> Datos básicos líneas</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="Menu_Plan" class="nav-link" data-toggle="tab" href="#Corporativo" role="tab">
                        <span class="hidden-sm-up"><i class="ti-email"></i></span>
                        <span class="hidden-xs-down"> Plan Corporativo </span>
                    </a>
                </li>
                {{#xif session.Id_Rol '==' 1}}
                <li class="nav-item">
                    <a id="Menu_Doc" class="nav-link" data-toggle="tab" href="#Documentos" role="tab">
                        <span class="hidden-sm-up"><i class="ti-email"></i></span>
                        <span class="hidden-xs-down">Documentos</span>
                    </a>
                </li>
                {{/xif}}
                {{#xif session.Id_Rol '==' 2}}
                <li class="nav-item">
                    <a id="Menu_Doc" class="nav-link" data-toggle="tab" href="#Documentos" role="tab">
                        <span class="hidden-sm-up"><i class="ti-email"></i></span>
                        <span class="hidden-xs-down">Documentos</span>
                    </a>
                </li>
                {{/xif}}
                {{#xif session.Id_Rol '==' 6}}
                <li class="nav-item">
                    <a id="Menu_Doc" class="nav-link" data-toggle="tab" href="#Documentos" role="tab">
                        <span class="hidden-sm-up"><i class="ti-email"></i></span>
                        <span class="hidden-xs-down">Documentos</span>
                    </a>
                </li>
                {{/xif}}

                <li class="nav-item">
                    <a id="Menu_Comp" class="nav-link" data-toggle="tab" href="#Comparativo" role="tab">
                        <span class="hidden-sm-up"><i class="ti-email"></i></span>
                        <span class="hidden-xs-down">Comparativo</span>
                    </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content tabcontent-border">
                <!-- Información de contacto -->
                <div class="tab-pane active" id="DatosBasicos" role="tabpanel">
                    <div class="card MyStyle_Card_Detalle">
                        <div class="card-body p-b-0">
                            <div class="form-body">
                                <h3 class="box-title"> Información empresa</h3>
                                <hr class="m-t-0 m-b-40">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold text-right">
                                                Razón Social:
                                            </label>
                                            <p id="txtRazon_Social_D" class="form-control-static">

                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold text-right">
                                                Teléfono:
                                            </label>
                                            <p id="txtTelefono_D" class="form-control-static">

                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold text-right">
                                                NIT:
                                            </label>
                                            <p id="txtNIT_D" class="form-control-static">

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold text-right">
                                                Encargado:
                                            </label>
                                            <p id="txtEncargado_D" class="form-control-static">

                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold text-right">
                                                Extensión o celular:
                                            </label>
                                            <p id="txtExtension_celular_D" class="form-control-static">

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="box-title d-inline-block">Ubicación:</h4>
                                <hr class="m-t-0 m-b-20">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold text-right">
                                                País:
                                            </label>
                                            <p id="txtPais_D" class="form-control-static">

                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold text-right">
                                                Departamento:
                                            </label>
                                            <p id="txtDepartamento_D" class="form-control-static">

                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold text-right">
                                                Municipio:
                                            </label>
                                            <p id="txtMunicipio_D" class="form-control-static">

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold text-right">
                                                Lugar:
                                            </label>
                                            <label class="text-muted" id="txtTipo_D"></label>
                                            <p id="txtBarrio_Vereda_D">

                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="font-weight-bold text-right">
                                                Dirección:
                                            </label>
                                            <p id="txtDireccion_D" class="form-control-static">

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Información Líneas -->
                <div class="tab-pane" id="Lineas" role="tabpanel">
                    <div class="card MyStyle_Card_Detalle m-b-0">
                        <div class="card-body p-b-0">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3 class="box-title">
                                        Información líneas
                                    </h3>
                                </div>
                            </div>
                            <hr class="m-t-0 m-b-20">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-right">
                                            Operador actual:
                                        </label>
                                        <p id="txtOperador_tbl_Lineas_D" class="form-control-static">

                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-right">
                                            Calificación:
                                        </label>
                                        <p id="txtCalificacion_D" class="form-control-static">

                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-right">
                                            Razones:
                                        </label>
                                        <p id="txtRazones_D" class="form-control-static">

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="Datos_Validacion" class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-right">
                                            Cantidad de líneas:
                                        </label>
                                        <p id="txtCantidad_Lineas2_D" class="form-control-static">

                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-right">
                                            Valor total mensual:
                                        </label>
                                        <p id="txtValor_Mensual2_D" class="form-control-static">

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="Tabla_Detalle_Lineas_D" class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table color-table info-table">
                                            <thead>
                                                <tr>
                                                    <th>Línea</th>
                                                    <th>Minutos</th>
                                                    <th>Datos</th>
                                                    <th>Otros</th>
                                                    <th class="MyStyle_Cargo_Detalle_Linea">
                                                        Cargo</th>
                                                </tr>
                                            </thead>
                                            <tbody id="Tbody_detalle_Lineas_D">

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td>
                                                        <h5 class="box-title font-weight-bold d-inline-block">
                                                            Total:</h5>
                                                        <p id="txtCantidad_Lineas1_D"
                                                            class="float-right font-weight-bold">
                                                        </p>
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <i class="fa fa-dollar"></i>
                                                        <div id="txtValor_Mensual1_D"
                                                            class="float-right font-weight-bold">
                                                        </div>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Plan Corporativo -->
                <div class="tab-pane" id="Corporativo" role="tabpanel">
                    <div class="card MyStyle_Card_Detalle">
                        <div class="card-body">
                            <div class="form-body">
                                <h3 class="box-title">
                                    Información plan corporativo
                                </h3>
                                <hr class="m-t-0 m-b-40">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold">¿Claúsula
                                                permanencia?</label>
                                            <p id="txtClausulaPermanencia_D" class="form-control-static">

                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold text-right">
                                                Fecha inicio:
                                            </label>
                                            <p id="txtFecha_Inicio_D" class="form-control-static">

                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold text-right">
                                                Fecha fin:
                                            </label>
                                            <p id="txtFecha_Fin_D" class="form-control-static">

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="font-weight-bold text-right">
                                                Descripción del corporativo:
                                            </label>
                                            <p id="txtDescripcion_D" class="form-control-static">

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Documentos Corporativo -->
                <div class="tab-pane" id="Documentos" role="tabpanel">
                    <div class="card MyStyle_Card_Detalle">
                        <div class="card-body">
                            <div class="form-body">
                                <h3 class="box-title"> Documentos soporte </h3>
                                <hr class="m-t-0 m-b-40">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold text-right">
                                                Cédula Ciudadanía
                                            </label>
                                            <p id="linkCedula_D" class="form-control-static">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold">
                                                Cámara de comercio
                                            </label>
                                            <p id="linkCamara_D" class="form-control-static">

                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold text-right">
                                                Soporte de ingresos
                                            </label>
                                            <p id="linkSoporte_D" class="form-control-static">

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="ValidacionAnexos_D" class="col-md-4">

                                    </div>
                                    <div id="ValidacionOferta_D" class="col-md-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Comparativo -->
                <div class="tab-pane" id="Comparativo" role="tabpanel">
                    <div class="card MyStyle_Card_Detalle">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <h3 class="box-title text-center"> Comparativo de
                                        corporativos </h3>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-outline-info" data-toggle="modal"
                                        data-target="#facturaModal">
                                        <i class="fa fa-file-text-o"></i> Factura
                                    </button>
                                </div>
                            </div>
                            <hr class="m-t-20 m-b-20">
                            <div class="row m-b-20">
                                <div class="col-md-5">
                                    <h1 class="text-center ">Movistar</h1>
                                    <p class="text-center text-muted">Anterior</p>
                                </div>
                                <div class="col-md-2">
                                    <h3 class="text-center">VS</h3>
                                </div>
                                <div class="col-md-5">
                                    <h1 class="text-center"> Claro</h1>
                                    <p class="text-center text-muted">Actual</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table MyStyle_Color_Comparativo">
                                            <thead>
                                                <tr>
                                                    <th class="op1">Línea</th>
                                                    <th class="op1">Minutos</th>
                                                    <th class="op1">Navegación</th>
                                                    <th class="op1">Cargo</th>
                                                    <th class="op2">Minutos</th>
                                                    <th class="op2">Navegación</th>
                                                    <th class="op2">Cargo</th>
                                                </tr>
                                            </thead>
                                            <tbody id="TablaDocumento">
                                                <tr>
                                                    <td>3417589856</td>
                                                    <td>300 todo operador</td>
                                                    <td>5</td>
                                                    <td>50,000</td>
                                                    <td>300 todo operador</td>
                                                    <td>5</td>
                                                    <td>50,000</td>
                                                </tr>
                                                <tr>
                                                    <td>3014758695</td>
                                                    <td>Ilimitados</td>
                                                    <td>10</td>
                                                    <td>80,000</td>
                                                    <td>Ilimitados</td>
                                                    <td>10</td>
                                                    <td>80,000</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td>
                                                        <h5 class="box-title">Total: 2</h5>
                                                    </td>
                                                    <td colspan="2">
                                                        <h5 class="box-title">Cargo básico
                                                            neto:</h5>
                                                    </td>
                                                    <td>130,000</td>
                                                    <td colspan="2">
                                                        <h5 class="box-title">Cargo básico
                                                            neto:</h5>
                                                    </td>
                                                    <td>130,000</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>