<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header MyStyle_Card_Header ">
                <h2 class="text-white">Información de los servicios del cliente:</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="font-weight-bold"> <i class="fa fa-home"></i> Servicios fijos:</h3>
                    </div>

                </div>
                <div id="ValSiServiciosFijos" class="row">
                    <div id="ServiciosFijos" class="col-md-12">

                    </div>
                </div>
                <div id="ValNoServiciosFijos" class="row ">
                    <div class="col-md-12">
                        <h5 class="text-center font-weight-bold"><i class="fa fa-warning"></i>
                            No hay servicios fijos registrados.</h5>
                    </div>
                </div>
                <hr class="m-t-10 m-b-20">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="font-weight-bold"> <i class="fa fa-mobile-phone"></i> Servicios móviles:</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="DataTableServicios" class="table MyStyle_Color-Table display nowrap"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="text-center">Cantidad líneas</th>
                                        <th class="text-center">Cargo básico</th>
                                        <th class="text-center">Navegación</th>
                                        <th class="text-center">Minutos</th>
                                        <th class="text-center">Mensajes</th>
                                        <th class="text-center">Redes sociales </th>
                                        <th class="text-center">Minutos LDI</th>
                                        <th class="text-center">Cantidad LDI</th>
                                        <th class="text-center">Serivicios adicionales</th>
                                        <th class="text-center">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody id="TblRegistroDetalleLineas">


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>