<div id="modal_Loader_General" class="modal modalFullScreen fade" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;" data-keyboard="false">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="loadig_efect">
                <div class="loading_container">
                    <div class="loader_div">
                        <div class="loader_div">
                            <div class="loader_div">
                                <div class="loader_div">
                                    <div class="loader_div">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="texto">
                    Cargando...
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal_Loader_Llamada" class="modal modalFullScreen fade" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;" data-keyboard="false">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="loader_phone">
                <div class="app">
                    <i class="fa fa-phone"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="card-loading" class="card-loading">
    <div class="spinner-dots">
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
    </div>
</div>