<!-- Notificaciones -->
{{>notificaciones}}
<!-- Agenda -->
<li class="nav-item dropdown">
    <a class="nav-link" href="App/Coordinador/Agenda" >
        <i class="fa fa-calendar"></i>
    </a>
</li>