<li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-bell"></i><span
            class="hide-menu">Visitas</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/App/AsesorExterno/Visitas">Registrar visita</a></li>
    </ul>
</li>