<li><a class="has-arrow waves-effect waves-dark"><i class="fa fa-home"></i><span class="hide-menu">Inicio</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/App/Coordinador">Estadísticas</a></li>
        <li><a href="/App/Coordinador/Noticias">Noticias</a></li>
    </ul>
</li>
<li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-book"></i><span
            class="hide-menu">Directorio</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/App/Coordinador/Directorio">Gestionar clientes </a></li>
    </ul>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/App/Coordinador/Directorio/Registrar">Registrar clientes </a></li>
    </ul>
</li>
<li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa  fa-phone"></i><span
            class="hide-menu">Llamadas</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/App/Coordinador/LLamadas">Gestionar llamadas</a></li>
        <li><a href="/App/Coordinador/Llamadas/Control">Control de llamadas</a></li>
    </ul>
</li>
<li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
            class="mdi mdi-calendar-clock"></i><span class="hide-menu">Citas</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/App/Coordinador/Citas">Gestionar citas</a></li>
        <li><a href="/App/Coordinador/Agenda">Agenda</a></li>
    </ul>
</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-bell"></i>
        <span class="hide-menu">Notificaciones
            <span id="numNotificaciones2" class="label label-rouded label-themecolor pull-right"
                style="display: none;">0</span>
        </span>
    </a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/App/Coordinador/Notificaciones">Gestionar notificaciones</a></li>
    </ul>
</li>
<li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-user"></i><span
            class="hide-menu">Usuarios y empleados</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/App/Coordinador/Usuarios">Gestionar usuarios</a></li>
        <li><a href="/App/Coordinador/Usuarios/Registro">Registrar usuarios</a></li>
    </ul>
</li>