<!-- Notificaciones -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
        <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
    </a>
    <div class="dropdown-menu mailbox animated slideInUp">
        <ul>
            <li><div class="drop-title">Notificaciones</div></li>
            <li>
                <div class="message-center">
                    <a href="#">
                        <div class="btn btn-info btn-circle"><i class="fa fa-calendar"></i>
                        </div>
                        <div class="mail-contnet">
                            <h5> Carlos Castillo</h5><span class="mail-desc">
                                Cita agendada para <strong class="font-weight-bold">movistar.</strong>
                            </span> <span class="time">9:08 AM</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="btn btn-info btn-circle"><i class="fa fa-calendar"></i>
                        </div>
                        <div class="mail-contnet">
                            <h5> Carlos Castillo</h5><span class="mail-desc">
                                Cita agendada para <strong class="font-weight-bold">movistar.</strong>
                            </span> <span class="time">9:08 AM</span>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <a class="nav-link text-center" href="App/ContactCenter/Notificaciones">
                    <strong>
                        Ver registro de notificaciones
                    </strong> <i class="fa fa-angle-right"></i> </a>
            </li>
        </ul>
    </div>
</li>
<!-- Agenda -->
<li class="nav-item dropdown">
    <a class="nav-link" href="App/ContactCenter/Agenda">
        <i class="fa fa-calendar"></i>
    </a>
</li>
{{!-- Llamadas --}}
<li class="nav-item dropdown mega-dropdown">
    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fa  fa-phone"></i></a>
    <div class="dropdown-menu animated slideInUp">
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="card">
                        <div class="face face1">
                            <div class="content">
                                <img src="/assets/images/logo-telefono.png" alt="Imagen 1">
                                <h3>Atención Telefónica</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <a href="#" class="btn btn-outline-success">Continuar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="card">
                        <div class="face face1">
                            <div class="content">
                                <img src="/assets/images/logo-telefono.png" alt="Imagen 1">
                                <h3>Llamada precargada</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <a href="#" class="btn btn-outline-success">Continuar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="card">
                        <div class="face face1">
                            <div class="content">
                                <img src="/assets/images/logo-telefono.png" alt="Imagen 1">
                                <h3>Llamada no precargada</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <a href="/App/Admin/Llamadas/RegistrarNP" class="btn btn-outline-success">Continuar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>