<li><a class="has-arrow waves-effect waves-dark"><i class="fa fa-home"></i><span class="hide-menu">Inicio</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/App/GestionCliente/Noticias">Noticias</a></li>
    </ul>
</li>
<li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-book"></i><span
            class="hide-menu">Directorio</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/App/GestionCliente/Directorio">Registro de clientes </a></li>
    </ul>
</li>
<li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa  fa-phone"></i><span
            class="hide-menu">Llamadas</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/App/GestionCliente/LLamadas">Registro de llamadas</a></li>
        <li><a href="/App/GestionCliente/Llamadas/Programadas">Programadas</a></li>
    </ul>
</li>
<li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
            class="mdi mdi-calendar-clock"></i><span class="hide-menu">Citas</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/App/GestionCliente/Citas">Gestionar citas</a></li>
        <li><a href="/App/GestionCliente/Citas/Por_Enviar">Citas por enviar</a></li>
        <li><a href="/App/GestionCliente/Agenda">Agenda</a></li>
    </ul>
</li>