<li> 
    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
        <iclass="mdi mdi-calendar-clock"></i><span class="hide-menu">Citas</span>
    </a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/App/AsesorInterno/Citas">Gestionar citas</a></li>
        <li><a href="/App/AsesorInterno/Agenda">Agenda</a></li>
    </ul>
</li>
<li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-bell"></i><span
            class="hide-menu">Visitas</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/App/AsesorInterno/Visitas">Registrar visita</a></li>
    </ul>
</li>