<div class="modal fade" id="facturaModal" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title font-weight-bold">Propuesta ajustada a recursos:</h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row m-t-10 m-b-10">
                    <div class="col-md-12">
                        <h3 class="text-center font-weight-bold">
                            <i class="fa fa-building-o m-l-5"></i> Tapitas S.A.S
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="ClientesDataTable" class="table table-striped MyStyle_Color-Table">
                                <thead>
                                    <tr>
                                        <th>Flujo financiero</th>
                                        <th>Concepto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Total facturación en movistar</td>
                                        <td>
                                            <i class="fa fa-dollar"></i>
                                            <div class="float-right">10.789.020</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Total facturación en claro</td>
                                        <td>
                                            <i class="fa fa-dollar"></i>
                                            <div class="float-right">10.789.020</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Bonos de activación</td>
                                        <td>
                                            <i class="fa fa-dollar"></i>
                                            <div class="float-right">10.789.020</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Total facturación en claro</td>
                                        <td>
                                            <i class="fa fa-dollar"></i>
                                            <div class="float-right">10.789.020</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Reducción anual</td>
                                        <td>
                                            <div class="float-right">12 <i class="fa fa-percent"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5 class="text-danger font-weight-bold">Total ahorro</h5>
                                        </td>
                                        <td>
                                            <i class="fa fa-dollar text-danger"></i>
                                            <h5 class="float-right text-danger font-weight-bold">
                                                10.789.020
                                            </h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3 class="text-danger font-weight-bold text-uppercase">
                                                Valor mes promedio
                                            </h3>
                                        </td>
                                        <td>
                                            <i class="fa fa-dollar text-danger"></i>
                                            <h3 class="float-right text-danger font-weight-bold text-uppercase">
                                                10.789.020
                                            </h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ahorro mensual promedio</td>
                                        <td>
                                            <i class="fa fa-dollar"></i>
                                            <div class="float-right">10.789.020</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>