<div class="row">
    <div class="col-md-4">
        <h3 class="font-weight-bold"> <i class="fa fa-home"></i> Servicios fijos:</h3>
    </div>
    <div class="col-md-8">
        <div class="opciones-collapse">
            <a class="btn btn-sm btn-info" data-toggle="collapse" data-target="#ServicioFijos" aria-expanded="true"
                aria-controls="ServicioFijos">
                <i class="ti-minus"></i>

            </a>
        </div>
    </div>
</div>
<hr class="m-t-10 m-b-20">
<div id="ServicioFijos" class="collapse">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group m-t-20">
                <input type="checkbox" id="checkDetalle_Pagina" name="checkDetalle_Pagina" class="MyStyle_Checkbox">
                <label for="checkDetalle_Pagina"><i class="ti-layout-cta-left"></i> Página
                    web</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-t-20">
                <input type="checkbox" id="checkDetalle_Correo" name="checkDetalle_Correo" class="MyStyle_Checkbox">
                <label for="checkDetalle_Correo"><i class="ti-email"></i> Correo</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-t-20">
                <input type="checkbox" id="checkDetalle_IPFija" name="checkDetalle_IPFija" class="MyStyle_Checkbox">
                <label for="checkDetalle_IPFija"><i class="mdi mdi-access-point"></i> IP
                    Fija</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group m-t-20">
                <input type="checkbox" id="checkDetalle_dominio" name="checkDetalle_dominio" class="MyStyle_Checkbox">
                <label for="checkDetalle_dominio"><i class="mdi mdi-web"></i> Dominio</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-t-20">
                <input type="checkbox" id="checkDetalle_telefonia" name="checkDetalle_telefonia"
                    class="MyStyle_Checkbox">
                <label for="checkDetalle_telefonia"><i class="mdi mdi-phone-classic"></i>
                    Telefonía</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-t-20">
                <input type="checkbox" id="checkDetalle_television" name="checkDetalle_television"
                    class="MyStyle_Checkbox">
                <label for="checkDetalle_television"><i class="mdi mdi-television"></i>
                    Televisión</label>
            </div>
        </div>
    </div>
    <hr class="m-t-0 m-b-20">
    <div class="row">
        <div class="col-md-6 text-right">
            <button type="button" id="btnEliminarServiciosFijos" class="btn btn-danger" disabled>
                <i class="fa fa-trash-o"></i> Eliminar
            </button>
        </div>
        <div class="col-md-6 text-left">
            <button type="button" id="btnGuardarServiciosFijos" class="btn btn-info" disabled>
                <i class="fa fa-save"></i> Guardar
            </button>
        </div>
    </div>
    <hr class="m-t-10 m-b-20">
</div>
<div class="row">
    <div class="col-md-4">
        <h3 class="font-weight-bold"> <i class="fa fa-mobile-phone"></i> Servicios móviles:</h3>
    </div>
    <div class="col-md-8">
        <div class="opciones-collapse">
            <a class="btn btn-sm btn-info" data-toggle="collapse" data-target="#ServiciosMoviles" aria-expanded="true"
                aria-controls="ServiciosMoviles">
                <i class="ti-minus"></i>
            </a>
        </div>
    </div>
</div>
<hr class="m-t-10 m-b-20">
<div id="ServiciosMoviles" class="collapse">
    <div class="row">
        <input type="hidden" id="txtDetalleId" value="0">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label"> Cantidad de líneas:
                    <span class="text-danger">*</span>
                </label>
                <input type="number" class="form-control detalleLinea" id="txtDetalle_Cantidad_Lineas"
                    name="txtDetalle_Cantidad_Lineas" placeholder="Cantidad: 10">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">
                    Cargo básico <strong>mensual:</strong> <span class="text-danger">*</span>
                </label>
                <div class="input-group">
                    <input id="txtDetalle_Valor_Mensual" type="text" name="txtDetalle_Valor_Mensual"
                        class="form-control detalleLinea" placeholder="Valor: $55,000">
                    <div class="input-group-append">
                        <span class="input-group-text">COP</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-t-30">
                <input name="detalleLineasRadios" type="radio" class="with-gap detalleLinea" id="txtDetalle_radio"
                    value="1">
                <label id="lblDetalle_radio" for="txtDetalle_radio">En total
                    <span class="text-danger">*</span>
                </label>
                <input name="detalleLineasRadios" type="radio" class="with-gap detalleLinea" id="txtDetalle_radio2"
                    value="2">
                <label id="lblDetalle_radio2" for="txtDetalle_radio2">Por cada línea
                    <span class="text-danger">*</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Navegación:
                    <span class="font-weight-bold">GB</span>
                </label>
                <div class="form-group">
                    <input type="number" class="form-control detalleLinea" id="txtDetalleNavegacion"
                        name="txtDetalleNavegacion" placeholder="Cantidad: 10">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="int1 ">Minutos a todo destino:</label>
                <input type="checkbox" id="txtDetalle_Validacion_Ilimitados" name="txtDetalle_Validacion_Ilimitados"
                    class="MyStyle_Checkbox detalleLinea">

                <label class="checkbox" for="txtDetalle_Validacion_Ilimitados" data-toggle="tooltip"
                    data-original-title="Ilimitados"></label>
                <input type="number" class="form-control detalleLinea" id="txtDetalle_Minutos" name="txtDetalle_Minutos"
                    placeholder="Cantidad: 3000">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="int1 ">Mensajes:</label>
                <input type="checkbox" id="txtDetalle_Validacion_SMSIlimitados"
                    name="txtDetalle_Validacion_SMSIlimitados" class="MyStyle_Checkbox detalleLinea">

                <label class="checkbox" for="txtDetalle_Validacion_SMSIlimitados" data-toggle="tooltip"
                    data-original-title="Ilimitados"></label>
                <input type="number" class="form-control detalleLinea" id="txtDetalle_Mensajes"
                    name="txtDetalle_Mensajes" placeholder="SMS: 3000">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">
                    Minutos LDI:
                    <i class="fa fa-question-circle" data-toggle="tooltip"
                        data-original-title="Utilice punto y coma o enter para guardar la entrada.">
                    </i>
                </label>
                <select id="txtDetalleMinutosLDI" class="select2-multiple m-b-10 valDetalle" style="width: 100%"
                    multiple="multiple" data-placeholder="Seleccione o escriba">

                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="txtDetalle_Cantidad_LDI">Cantidad LDI:</label>
                <input type="number" class="form-control detalleLinea" name="txtDetalle_Cantidad_LDI"
                    id="txtDetalle_Cantidad_LDI" placeholder="Cantidad: 3000" disabled>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">
                    Redes sociales:
                    <i class="fa fa-question-circle" data-toggle="tooltip"
                        data-original-title="Utilice punto y coma o enter para guardar la entrada.">
                    </i>
                </label>
                <select id="txtDetallle_Redes_Sociales" class="select2-multiple m-b-10 valDetalle" style="width: 100%"
                    multiple="multiple" data-placeholder="Seleccione o escriba">

                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">
                    Servicios adicionales:
                    <i class="fa fa-question-circle" data-toggle="tooltip"
                        data-original-title="Utilice punto y coma o enter para guardar la entrada.">
                    </i>
                </label>
                <select id="txtDetalle_Servicios_Adicionales" class="select2-multiple m-b-10 valDetalle"
                    style="width: 100%" multiple="multiple" data-placeholder="Seleccione o escriba">

                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-right">
            <button type="button" id="btnLimpiar" class="btn btn-primary">
                <i class="fa fa-pencil-square-o"></i> Limpiar
            </button>
        </div>
        <div class="col-md-6 text-left">
            <button type="button" id="btnGuardarDetalleLineas" class="btn btn-info">
                <i class="fa fa-save"></i> Guardar
            </button>
        </div>
    </div>
    <hr class="m-t-20 m-b-20">
</div>