<div class="row page-titles">
    <div class="col-lg-12 text-center">
        <div class="d-inline-block">
            <img src="/assets/images/Logos/logo_esk.png" width="200" height="150" alt="logo">
        </div>
        <div class="d-inline-block m-4">
            <h1 class="m-t-30 font-weight-bold"><i class="fa fa-phone"></i> Software de llamadas</h1>
            <h5 class="text-muted m-b-30"><i class="ti-pin"></i>Eskatemp SAS - Call Phone Soft</h5>
        </div>
        <div class="d-inline-block">
            {{!-- <img src="/assets/images/Logos/logo2.png" width="200" height="150" alt="logo"> --}}
            <!-- Dark Logo icon -->
            <img src="/assets/images/Logos/logoWhite.png" alt="homepage" width="200" height="150" class="dark-logo" />
            <!-- Light Logo icon -->
            <img src="/assets/images/Logos/logoDark.png" alt="homepage" width="200" height="150" class="light-logo" />
        </div>
    </div>
</div>