<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header MyStyle_Card_Header">
                <div class="card-actions">
                    <a href="RegistrarNoticias.html" class="text-white" data-toggle="tooltip"
                        data-original-title="Agregar"><i class="ti-plus"></i></a>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="m-b-0 text-white ">Sección de noticias</h4>
                    </div>
                </div>
            </div>
            <div class="card-body Card-Body-Noticias">
                <!-- Ejemplo noticia 1 -->
                <div class="card Card-Noticias">
                    <div class="card-header MyStyle_Card_Header">
                        <div class="card-actions">
                            <a class="text-white" data-action="collapse"><i class="ti-minus"></i></a>
                            <a class="text-white" data-toggle="tooltip" data-original-title="Editar"><i
                                    class="ti-marker-alt"></i></a>
                            <a class="btn-close text-white" data-toggle="tooltip" data-original-title="Eliminar"><i
                                    class="ti-close"></i></a>
                        </div>

                        <div class="row">
                            <div class="col-2">
                                <span class="round">
                                    <img src="/assets/images/users/2.jpg" alt="user" width="50">
                                </span>
                            </div>
                            <div class="col-4">
                                <h6 class="m-b-0 text-white">Andrés Fernández</h6>
                                <small class="m-b-0 text-muted d-block ">Coordinador</small>
                                <small class="text-muted">12/12/2019 11:30 am</small>
                            </div>
                            <div class="col-6">
                                <h4 class="card-title  text-white m-b-0">Título de la noticia</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body collapse show">

                        <div class="row">
                            <div class="col-lg-4 col-md-3"><img src="/assets/images/big/img1.jpg"
                                    class="img-fluid" />
                            </div>
                            <div class="col-lg-8 col-md-9">
                                <div class="slimtest1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                        rhoncus, felis interdum condimentum consectetur, nisl libero
                                        elementum eros, vehicula congue lacus eros non diam. Cum sociis
                                        natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus.</p>
                                    <p>Vivamus mauris lorem, lacinia id tempus non, imperdiet et leo.
                                        Cras sit amet erat sit amet lacus egestas placerat. </p>
                                    <p>Aenean ultricies ultrices mauris ac congue. In vel tortor vel
                                        velit tristique tempus ac id nisi. Proin quis lorem velit. Nunc
                                        dui dui, blandit a ullamcorper vitae, congue fringilla lectus.
                                        Aliquam ultricies malesuada feugiat. Vestibulum placerat turpis
                                        et eros lobortis vel semper sapien pulvinar.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                        rhoncus, felis interdum condimentum consectetur, nisl libero
                                        elementum eros, vehicula congue lacus eros non diam. Cum sociis
                                        natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus.</p>
                                    <p>Vivamus mauris lorem, lacinia id tempus non, imperdiet et leo.
                                        Cras sit amet erat sit amet lacus egestas placerat. </p>
                                    <p>Aenean ultricies ultrices mauris ac congue. In vel tortor vel
                                        velit tristique tempus ac id nisi. Proin quis lorem velit. Nunc
                                        dui dui, blandit a ullamcorper vitae, congue fringilla lectus.
                                        Aliquam ultricies malesuada feugiat. Vestibulum placerat turpis
                                        et eros lobortis vel semper sapien pulvinar.</p>
                                    <p>Vivamus mauris lorem, lacinia id tempus non, imperdiet et leo.
                                        Cras sit amet erat sit amet lacus egestas placerat. </p>
                                    <p>Aenean ultricies ultrices mauris ac congue. In vel tortor vel
                                        velit tristique tempus ac id nisi. Proin quis lorem velit. Nunc
                                        dui dui, blandit a ullamcorper vitae, congue fringilla lectus.
                                        Aliquam ultricies malesuada feugiat. Vestibulum placerat turpis
                                        et eros lobortis vel semper sapien pulvinar.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Ejemplo noticia 2 -->
                <div class="card Card-Noticias">
                    <div class="card-header MyStyle_Card_Header">
                        <div class="card-actions">
                            <a class="text-white" data-action="collapse"><i class="ti-minus"></i></a>
                            <a class="text-white" data-toggle="tooltip" data-original-title="Editar"><i
                                    class="ti-marker-alt"></i></a>
                            <a class="btn-close text-white" data-toggle="tooltip" data-original-title="Eliminar"><i
                                    class="ti-close"></i></a>
                        </div>

                        <div class="row">
                            <div class="col-2">
                                <span class="round">
                                    <img src="/assets/images/users/2.jpg" alt="user" width="50">
                                </span>
                            </div>
                            <div class="col-4">
                                <h6 class="m-b-0 text-white">Andrés Fernández</h6>
                                <small class="m-b-0 text-muted d-block">Coordinador</small>
                                <small class="text-muted">12/12/2019 11:30 am</small>
                            </div>
                            <div class="col-6">
                                <h4 class="card-title  text-white m-b-0">Título de la noticia</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body collapse show">

                        <div class="row">
                            <div class="col-lg-4 col-md-3"><img src="/assets/images/big/img1.jpg"
                                    class="img-fluid" />
                            </div>
                            <div class="col-lg-8 col-md-9">
                                <div class="slimtest1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                        rhoncus, felis interdum condimentum consectetur, nisl libero
                                        elementum eros, vehicula congue lacus eros non diam. Cum sociis
                                        natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus.</p>
                                    <p>Vivamus mauris lorem, lacinia id tempus non, imperdiet et leo.
                                        Cras sit amet erat sit amet lacus egestas placerat. </p>
                                    <p>Aenean ultricies ultrices mauris ac congue. In vel tortor vel
                                        velit tristique tempus ac id nisi. Proin quis lorem velit. Nunc
                                        dui dui, blandit a ullamcorper vitae, congue fringilla lectus.
                                        Aliquam ultricies malesuada feugiat. Vestibulum placerat turpis
                                        et eros lobortis vel semper sapien pulvinar.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                        rhoncus, felis interdum condimentum consectetur, nisl libero
                                        elementum eros, vehicula congue lacus eros non diam. Cum sociis
                                        natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus.</p>
                                    <p>Vivamus mauris lorem, lacinia id tempus non, imperdiet et leo.
                                        Cras sit amet erat sit amet lacus egestas placerat. </p>
                                    <p>Aenean ultricies ultrices mauris ac congue. In vel tortor vel
                                        velit tristique tempus ac id nisi. Proin quis lorem velit. Nunc
                                        dui dui, blandit a ullamcorper vitae, congue fringilla lectus.
                                        Aliquam ultricies malesuada feugiat. Vestibulum placerat turpis
                                        et eros lobortis vel semper sapien pulvinar.</p>
                                    <p>Vivamus mauris lorem, lacinia id tempus non, imperdiet et leo.
                                        Cras sit amet erat sit amet lacus egestas placerat. </p>
                                    <p>Aenean ultricies ultrices mauris ac congue. In vel tortor vel
                                        velit tristique tempus ac id nisi. Proin quis lorem velit. Nunc
                                        dui dui, blandit a ullamcorper vitae, congue fringilla lectus.
                                        Aliquam ultricies malesuada feugiat. Vestibulum placerat turpis
                                        et eros lobortis vel semper sapien pulvinar.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Contact Centers -->
    <div class="col-lg-4 col-xlg-3">
        <!-- Column -->
        <div class="card Card-Conectados">
            <div class="card-body bg-inverse" id="Titulos-Conectados">
                <h4 class="text-white card-title">Contact Centers</h4>
                <h6 class="card-subtitle text-white m-0 op-5">Listado de empleados</h6>
            </div>
            <div class="card-body">
                <div class="message-box contact-box">
                    <h2 class="add-ct-btn"><a href="../Usuarios/Registro.html" data-toggle="tooltip"
                            data-original-title="Agregar"
                            class="btn btn-circle btn-lg btn-success waves-effect waves-dark">+</a></h2>
                    <div class="message-widget contact-widget">

                        <div id="accordion" class="nav-accordion" role="tablist" aria-multiselectable="true">

                            <!-- En línea -->
                            <div class="card Card-Usuarios-Conexion">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h5 class="mb-0">
                                        <a class="Connect" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            En línea
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel"
                                    aria-labelledby="headingOne">
                                    <div class="card-body">
                                        <a href="#" data-toggle="modal" data-target="#ModalContact">
                                            <div class="user-img"> <img src="../../../assets/images/users/1.jpg"
                                                    alt="user" class="img-circle"> <span
                                                    class="profile-status online pull-right"></span>
                                            </div>
                                            <div class="mail-contnet">
                                                <h5>Juan Pablo Carmona</h5> <span class="mail-desc">JuanC210</span>
                                            </div>
                                        </a>
                                        <a href="#" data-toggle="modal" data-target="#ModalContact">
                                            <div class="user-img"> <img src="../../../assets/images/users/1.jpg"
                                                    alt="user" class="img-circle"> <span
                                                    class="profile-status online pull-right"></span>
                                            </div>
                                            <div class="mail-contnet">
                                                <h5>Juan Pablo Carmona</h5> <span class="mail-desc">JuanC210</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- Inactivos -->

                            <div class="card  Card-Usuarios-Conexion">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <h5 class="mb-0">
                                        <a class="collapsed Inactivos" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Inactivos
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body">

                                        <a href="#" data-toggle="modal" data-target="#ModalContact">
                                            <div class="user-img"> <img src="../../../assets/images/users/4.jpg"
                                                    alt="user" class="img-circle"> <span
                                                    class="profile-status offline pull-right"></span>
                                            </div>
                                            <div class="mail-contnet">
                                                <h5>Sara Mejía</h5> <span class="mail-desc">SaraMejia12</span>
                                            </div>
                                        </a>

                                    </div>
                                </div>
                            </div>

                            <!-- No conectados -->

                            <div class="card  Card-Usuarios-Conexion">
                                <div class="card-header" role="tab" id="headingThree">
                                    <h5 class="mb-0">
                                        <a class="collapsed No-Conectados" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            No conectados
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="card-body">


                                        <a href="#" data-toggle="modal" data-target="#ModalContact">
                                            <div class="user-img"> <img src="../../../assets/images/users/2.jpg"
                                                    alt="user" class="img-circle"> <span
                                                    class="profile-status busy pull-right"></span>
                                            </div>
                                            <div class="mail-contnet">
                                                <h5>Camilo Torres</h5> <span class="mail-desc">CamiloT21</span>
                                            </div>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="../assets/images/background/profile-bg.jpg" alt="Card image cap">

                            <div class="card-body">
                                <h4 class="card-title">Medium model <small>Click on image</small></h4>
                        
                            </div>

                        </div>
                    </div> -->


    <div id="ModalContact" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/background/profile-bg.jpg"
                        alt="Card image cap">
                    <div class="card-body little-profile text-center">
                        <div class="pro-img"><img src="../../../assets/images/users/4.jpg" alt="user" />
                        </div>
                        <h3 class="m-b-0">Angela Dominic</h3>
                        <p>Web Designer &amp; Developer</p>
                        <button href="javascript:void(0)"
                            class="m-t-10 waves-effect waves-dark btn btn-info btn-md btn-rounded">Follow</button>
                        <div class="row text-center m-t-20">
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h3 class="m-b-0 font-light">1099</h3><small>Articles</small>
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h3 class="m-b-0 font-light">23,469</h3><small>Followers</small>
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h3 class="m-b-0 font-light">6035</h3><small>Following</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
