<div class="card">
    <div class="card-header MyStyle_Card_Header">
        <h4 class="m-b-0 text-white">Gestión de usuarios y empleados</h4>
    </div>
    <div class="card-body" id="Card-Body-Gestion-Usuarios">
        <!-- Card Table -->
        <div class="card">
            <div class="card-header MyStyle_Card_Header">
                <h4 class="m-b-0 text-white">Filtro avanzado:</h4>
            </div>
            <div class="card-body" id="Card-Body-Filtrar-Llamadas2">
                <div class="row">
                    <div class="col-md-3">
                        <div class="example">
                            <label class="m-t-30">Usuario</label>
                            <input type="text" class="form-control" id="Filtro-Usuario" placeholder="Usuario">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="m-t-30">Rol</label>
                        <select class="form-control" id="Select-Rol">
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="example">
                            <label class="m-t-30">Nombre</label>
                            <input class="form-control" type="text" id="Filtro-Nombre" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="example">
                            <label class="m-t-30">Correo</label>
                            <input class="form-control" type="text" id="Filtro-Correo" placeholder="Correo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group m-t-30">
                            <button type="button" onclick="LimpiarFiltro();" class="btn btn-info">
                                Limpiar filtro avanzado</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card  card-outline-info">
            <div class="card-header MyStyle_Card_Header">
                <div class="row">
                    <div class="col-md-9">
                        <h4 class="m-b-0 text-white">Lista de usuarios:</h4>
                    </div>
                    <div class="col-md-3">
                        <div class="m-l-50">
                            {{#xif session.Id_Rol '==' 1 }}
                            <a href="/App/Admin/Usuarios/Registro"
                                class="btn waves-effect waves-light btn-block btn-secondary">
                                <i class="fa fa-user-plus"></i> Agregar Usuario
                            </a>
                            {{/xif}}
                            {{#xif session.Id_Rol '==' 2 }}
                            <a href="/App/Coordinador/Usuarios/Registro"
                                class="btn waves-effect waves-light btn-block btn-secondary">
                                <i class="fa fa-user-plus"></i> Agregar Usuario
                            </a>
                            {{/xif}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" id="Card-Body-Gestion-Usuarios2">
                <div class="table-responsive">
                    <table id="UsuariosDataTable" class="table stylish-table MyStyle_Color-Table">
                        <thead>
                            <tr>
                                <th><i class="fa fa-user"></i> Usuario</th>
                                <th><i class="fa fa-tag"></i> Rol</th>
                                <th><i class="fa fa-id-card"></i> Nombre </th>
                                <th><i class="mdi mdi-gmail"></i> Correo</th>
                                <th><i class="fa fa-sliders"></i> Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Detalles usuario y empleado -->
<!-- ============================================================== -->
<div class="modal fade ModalDetallesUsuarios" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">
                    <i class="fa fa-address-card-o"></i> Información</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="card m-b-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <h4 class="MyStyle_Detalles_Emp_Usu m-t-40 m-b-30">Fotografía:</h4>
                                <div id="imgDetalleUsuario"></div>
                            </div>
                            <div id="DetalleNormal" class="col-8">
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li class="nav-item"> <a id="FormularioEmpleado" class="nav-link active"
                                            data-toggle="tab" href="#DetallesEmpleado" role="tab">
                                            <span class="hidden-sm-up"><i class="ti-home"></i></span>
                                            <span class="hidden-xs-down">Empleado</span></a>
                                    </li>
                                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#DetallesUsuario"
                                            role="tab">
                                            <span class="hidden-sm-up"><i class="ti-user"></i></span>
                                            <span class="hidden-xs-down">Usuario</span></a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active m-3" id="DetallesEmpleado" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label MyStyle_Detalles_Emp_Usu">
                                                        Nombre:
                                                    </label>
                                                    <p id="txtNombreDetalle"></p>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label MyStyle_Detalles_Emp_Usu">
                                                        Correo:
                                                    </label>
                                                    <p id="txtCorreoDetalle"></p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label MyStyle_Detalles_Emp_Usu">
                                                        Tipo Documento:
                                                    </label>
                                                    <p id="txtTipoDocumentoDetalle"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label MyStyle_Detalles_Emp_Usu">
                                                        Documento:
                                                    </label>
                                                    <p id="txtDocumentoDetalle"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label MyStyle_Detalles_Emp_Usu">
                                                        Sexo:
                                                    </label>
                                                    <p id="txtSexoDetalle"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label MyStyle_Detalles_Emp_Usu">
                                                        Celular:
                                                    </label>
                                                    <p id="txtCelularDetalle"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label MyStyle_Detalles_Emp_Usu">
                                                        Turno:
                                                    </label>
                                                    <p id="txtTurnoDetalle"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane  p-20" id="DetallesUsuario" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label MyStyle_Detalles_Emp_Usu">
                                                        Usuario:
                                                    </label>
                                                    <p id="txtUsuarioDetalle"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label MyStyle_Detalles_Emp_Usu">
                                                        Rol:
                                                    </label>
                                                    <p id="txtRolDetalle"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label MyStyle_Detalles_Emp_Usu">
                                                        Conexión:
                                                    </label>
                                                    <p id="txtConexionDetalle"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label MyStyle_Detalles_Emp_Usu">
                                                        Estado:
                                                    </label>
                                                    <p id="txtEstadoDetalle"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="DetalleOperador" class="col-8">
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li class="nav-item"> <a id="FormularioEmpleado" class="nav-link active"
                                            data-toggle="tab" href="#DetallesEmpleado" role="tab">
                                            <span class="hidden-sm-up"><i class="ti-home"></i></span>
                                            <span class="hidden-xs-down">Operador</span></a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active m-3" id="DetallesEmpleado" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label MyStyle_Detalles_Emp_Usu">
                                                        Nombre:
                                                    </label>
                                                    <p id="txtNombreDetalle_O"></p>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label MyStyle_Detalles_Emp_Usu">
                                                        Correo:
                                                    </label>
                                                    <p id="txtCorreoDetalle_O"></p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label MyStyle_Detalles_Emp_Usu">
                                                        Usuario:
                                                    </label>
                                                    <p id="txtUsuarioDetalle_O"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label MyStyle_Detalles_Emp_Usu">
                                                        Rol:
                                                    </label>
                                                    <p id="txtRolDetalle_O"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label MyStyle_Detalles_Emp_Usu">
                                                        Conexión:
                                                    </label>
                                                    <p id="txtConexionDetalle_O"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label MyStyle_Detalles_Emp_Usu">
                                                        Estado:
                                                    </label>
                                                    <p id="txtEstadoDetalle_O"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" onclick="MostrarModalEditar()" class="btn btn-info">
                            <i class="fa fa-pencil"></i> Modificar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /modal -->
<!-- Editar usuario y empleado -->
<div class="modal fade ModalEditarUsuarios" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog MyStyle_modalTamaño1000">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">
                    <i class="fa fa-pencil"></i> Modificar información
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-t-0 p-b-0">
                <div class="card m-b-0">
                    <div class="card-body wizard-content p-t-0 p-b-0 ">
                        <form id="FormEditarUsuario" class="wizard-circle">
                            <h6>Información empleado.</h6>
                            <section>
                                <hr class="m-t-0 m-b-20">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label text-right">Tipo de
                                                        documento <span class="text-danger">*</span>
                                                    </label>

                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <i class="ti-user"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control custom-select" id="txtTipoDocumento"
                                                            name="txtTipoDocumento">
                                                            <option selected disabled value="">Seleccione</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Documento
                                                        <span class="text-danger">*</span>
                                                    </label>

                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <i class="ti-credit-card"></i>
                                                            </span>
                                                        </div>
                                                        <input type="number" class="form-control" id="txtDocumento"
                                                            name="txtDocumento" placeholder="Número de documento">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Nombre
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <i class="ti-user"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" id="txtNombre"
                                                            name="txtNombre" placeholder="Nombre Completo">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/row-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Apellidos
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <i class="ti-user"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" id="txtApellidos"
                                                            name="txtApellidos" placeholder="Apellidos">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Correo
                                                        <span class="text-danger">*</span>
                                                    </label>

                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <i class="ti-email"></i>
                                                            </span>
                                                        </div>
                                                        <input type="email" class="form-control" id="txtCorreo"
                                                            name="txtCorreo" placeholder="Ingresar correo">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Sexo
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <i class="icon-star"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control custom-select" id="txtSexo"
                                                            name="txtSexo">
                                                            <option selected disabled value="">Seleccione
                                                                sexo</option>
                                                            <option value="1">Masculino</option>
                                                            <option value="2">Femenino</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Celular
                                                    </label>
                                                    <div class="input-group ">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <i class="ti-mobile"></i>
                                                            </span>
                                                        </div>
                                                        <input type="number" class="form-control" id="txtCelular"
                                                            name="txtCelular" placeholder="Ingresar número">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Turno
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <i class=" icon-clock "></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control custom-select" id="txtTurno"
                                                            name="txtTurno">
                                                            <option selected disabled value="">Seleccione
                                                                turno</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body MyStyle_File_Card">
                                                <h4 class="card-title">Fotografía</h4>
                                                <div id="inputFotografiaEditar">
                                                    <input type="file" id="fileFotografia" name="Fotografia" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <h6>Información usuario.</h6>
                            <section>
                                <hr class="m-t-0 m-b-20">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Usuario
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="ti-user"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" id="txtUsuario"
                                                    name="txtUsuario" placeholder="Nombre usuario">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Tipo de usuario
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="icon-people "></i>
                                                    </span>
                                                </div>
                                                <select class="form-control custom-select" id="txtRol" name="txtRol">
                                                    <option selected disabled>Seleccione...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Editar usuario Asesor externo -->
<div class="modal fade ModalEditarUsuariosAE" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog MyStyle_modalTamaño1000">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">
                    <i class="fa fa-pencil"></i> Modificar información
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-t-0 p-b-0">
                <div class="card m-b-0">
                    <div class="card-body wizard-content p-t-0 p-b-0 ">
                        <form id="FormEditarUsuarioAE" class="wizard-circle">
                            <h6>Asesor externo</h6>
                            <section>
                                <hr class="m-t-0 m-b-20">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Nombre
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <i class="ti-user"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" id="txtNombreAE"
                                                            name="txtNombreAE" placeholder="Nombre Completo">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Correo
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <i class="ti-email"></i>
                                                            </span>
                                                        </div>
                                                        <input type="email" class="form-control" id="txtCorreoAE"
                                                            name="txtCorreoAE" placeholder="Ingresar correo">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Usuario
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <i class="ti-user"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" id="txtUsuarioAE"
                                                            name="txtUsuarioAE" placeholder="Nombre usuario">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="checkbox" id="checkbox_contrasena" name="checkbox_contrasena"
                                            class="MyStyle_Checkbox detalleLinea">
                                        <label class="font-weight-bold" for="checkbox_contrasena">
                                            Cambiar contraseña:
                                        </label>
                                        <hr class="m-t-0 m-b-20">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label"
                                                        id="Label-Form-Registro-Usuario">Contraseña
                                                    </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <i class="ti-lock"></i>
                                                            </span>
                                                        </div>
                                                        <input type="password" class="form-control" id="txtContrasenaAE"
                                                            name="txtContrasenaAE" placeholder="Contraseña" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label"
                                                        id="Label-Form-Registro-Usuario">Confirmar
                                                    </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <i class="ti-lock"></i>
                                                            </span>
                                                        </div>
                                                        <input type="password" class="form-control"
                                                            id="txtConfirmarContrasenaAE"
                                                            name="txtConfirmarContrasenaAE"
                                                            placeholder="Confirmar contraseña" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body MyStyle_File_Card">
                                                <h4 class="card-title">Fotografía</h4>
                                                <div id="inputFotografiaEditarAE">
                                                    <input type="file" id="fileFotografiaAE" name="Fotografia" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>