<div class="card">
    <div class="card-header MyStyle_Card_Header">
        <h4 class="m-b-0 text-white">Gestión de usuarios y empleados</h4>
    </div>
    <div class="card-body" id="Card-Body-Gestion-Usuarios">
        <!-- Card Table -->
        <div class="card  card-outline-info">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-9">
                        <h4 class="m-b-0 text-white">Lista de usuarios:</h4>
                    </div>
                    <div class="col-md-3">
                        <div class="m-l-50">
                            <a href="../Usuarios/Registro.html"
                                class="btn waves-effect waves-light btn-block btn-secondary">
                                <i class="fas fa-user-plus"></i> Agregar Usuario
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" id="Card-Body-Gestion-Usuarios2">
                <div class="table-responsive">
                    <table id="UsuariosDataTable" class="table table-bordered table-striped MyStyle_Color-Table">
                        <thead>
                            <tr>
                                <th>Id_Usuario</th>
                                <th>Usuario</th>
                                <th>Nombre </th>
                                <th>Apellidos </th>
                                <th>Rol</th>
                                <th>Correo</th>
                                <th>Celular</th>
                                <th class="MyStyle_Table_Opciones">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>