<div class="card  card-outline-info">
    <div class="card-header">
        <div class="row">
            <div class="col-md-9">
                <h4 class="m-b-0 text-white">Lista de notificaciones</h4>
            </div>

        </div>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table id="example" class="table  stylish-table MyStyle_Color-Table">
                <thead>
                    <tr style="background: #0c0c0c; color: rgb(28, 231, 204);">
                        <th class="MyStyle_Table_num">#</th>
                        <th colspan="2">Usuario Origen</th>
                        <th colspan="2">Usuario destino</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Mensaje</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active">
                        <td>1</td>
                        <td><span class="round"><img src="../../assets/images/users/2.jpg" alt="user" width="50"></span>
                        </td>
                        <td>
                            <h6>Andrés</h6><small class="text-muted">Coordinador</small>
                        </td>

                        <td><span class="round"><img src="../../assets/images/users/4.jpg" alt="user" width="50"></span>
                        </td>
                        <td>
                            <h6>Andrés</h6><small class="text-muted">Coordinador</small>
                        </td>
                        <td>25/06/2020</td>
                        <td>12:05 pm</td>
                        <td>
                            <div class="label label-table label-success">Hola mundo</div>
                        </td>
                        <td>
                            <button data-toggle="tooltip" data-original-title="Eliminar" class="btn btn-outline-danger"
                                id="sa-params">
                                <i class="fa fa-close"></i>
                            </button>

                        </td>
                    </tr>
                    <tr class="active">
                        <td>1</td>
                        <td><span class="round"><img src="../../../assets/images/users/8.jpg" alt="user"
                                    width="50"></span>
                        </td>
                        <td>
                            <h6>Arnovia</h6><small class="text-muted">Gestora</small>
                        </td>

                        <td><span class="round"><img src="../../../assets/images/users/6.jpg" alt="user"
                                    width="50"></span>
                        </td>
                        <td>
                            <h6>Andrea</h6><small class="text-muted">Coordinador</small>
                        </td>
                        <td>25/06/2020</td>
                        <td>12:05 pm</td>
                        <td>
                            <div class="label label-table label-success">Hola mundo</div>
                        </td>
                        <td>
                            <button data-toggle="tooltip" data-original-title="Eliminar" class="btn btn-outline-danger"
                                id="sa-params">
                                <i class="fa fa-close"></i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>