<div class="card">
    <div class="card-header MyStyle_Card_Header">
        <div class="row">
            <div class="col-md-9">
                <h4 class="m-b-0 text-white">Lista de notificaciones</h4>
            </div>

        </div>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table id="NotificacionsDataTable" class="table  stylish-table MyStyle_Color-Table">
                <thead>
                    <tr>
                        <th><i class="fa fa-user"></i> Usuario</th>
                        <th><i class="fa fa-clock-o"></i> Fecha</th>
                        <th><i class="fa fa-list-ul"></i> Categoría</th>
                        <th><i class="fa fa-comment"></i> Mensaje</th>
                        <th><i class="fa fa-sliders"></i> Opciones</th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>