<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#Inicio">
				<img src="/assets/images/Logos/logo60X60.jpg" width="60" height="60" class="d-inline-block" alt=""
					loading="lazy">
				Eskatemp
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-lg-auto">
					<li class="nav-item">
						<a class="nav-link" href="#Inicio">Inicio <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#Nosotros">Nosotros</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#Mision">Misión</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#Principios">Principios</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#Esencia">Esencia</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#Contactenos">Contactenos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link btn btnD3" href="/Login">Ingresar</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<div class="jumbotron jumbotron-fluid height100p banner" id="Inicio">
	<div class="container h100">
		<div class="contentBox h100">
			<div>
				<h1 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Eskatemp SAS</h1>
				<p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
					Desarrollamos soluciones impactantes somos, especialistas en
					<span class="font-weight-bold">administración</span> y <span
						class="font-weight-bold">consultoría</span>.
				</p>
			</div>
		</div>
	</div>
</div>
<section class="sec1" id="Nosotros">
	<div class="container">
		<div class="row">
			<div class="offset-sm-2 col-sm-8">
				<div class="headerText text-center">
					<h2 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="0">Sobre nosotros</h2>
					<p data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
						Somos una empresa de asesoría,
						consultoría y comercialización
						empresarial, que brinda herramientas
						estratégicas que dan solución a los
						retos de las compañías de hoy en día.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="placeBox" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="0">
					<div class="imgBx">
						<img src="/assets/images/home/image-home.jpg" alt="img" class="img-fluid">
					</div>
					<div class="content">
						<h3>BPO<br><span><strong>Services</strong></span></h3>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="placeBox" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
					<div class="imgBx">
						<img src="/assets/images/home/image-home.jpg" alt="img" class="img-fluid">
					</div>
					<div class="content">
						<h3>BPO<br><span><strong>Services</strong></span></h3>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="placeBox" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1000">
					<div class="imgBx">
						<img src="/assets/images/home/image-home.jpg" alt="img" class="img-fluid">
					</div>
					<div class="content">
						<h3>BPO<br><span><strong>Services</strong></span></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="sec2" id="Mision">
	<div class="container h100">
		<div class="contentBox h100">
			<div>
				<h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Misión</h2>
				<p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
					Aportar al éxito de nuestros clientes,
					evaluando e identificando
					oportunidades. Presentado soluciones
					construidas conjuntamente que
					cumplan con los criterios de
					innovación y efectividad siendo estas
					éticas y responsables, buscando
					alcanzar las metas en los negocios de
					nuestros clientes.
				</p>
				<!-- <a href="" class="btn btnD2">Leer más</a> -->
			</div>
		</div>
	</div>
</section>

<section class="sec3" id="Principios">
	<div class="container">
		<div class="row">
			<div class="offset-sm-2 col-sm-8">
				<div class="headerText text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
					<h2>Principios</h2>
					<p>
						En Eskatemp S.A.S contamos con el apoyo de un equipo profesional
						altamente calificado y éticamente responsable que se distinguen por
						brindar:
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="blogpost" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
					<div class="imgBx">
						<img src="/assets/images/home/image-home.jpg" alt="img" class="img-fluid">
					</div>
					<div class="content">
						<h1>Orientación al cliente:</h1>
						<p>
							La iniciativa por detectar y satisfacer las necesidades
							y prioridades de nuestros clientes para brindarles servicios y productos con
							agilidad y eficiencia.
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="blogpost" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
					<div class="imgBx">
						<img src="/assets/images/home/image-home.jpg" alt="img" class="img-fluid">
					</div>
					<div class="content">
						<h1>Confianza:</h1>
						<p>
							El compromiso que tenemos de generar experiencias exitosas
							con todas las personas con las cuales nos relacionamos.
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="blogpost" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
					<div class="imgBx">
						<img src="/assets/images/home/image-home.jpg" alt="img" class="img-fluid">
					</div>
					<div class="content">
						<h1>Innovación:</h1>
						<p>
							El deseo permanente para desarrollar, mejorar productos y
							servicios de alta calidad humana y técnica.
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="blogpost" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
					<div class="imgBx">
						<img src="/assets/images/home/image-home.jpg" alt="img" class="img-fluid">
					</div>
					<div class="content">
						<h1>Integridad:</h1>
						<p>
							El actuar de forma honesta, clara y transparente, que reflejamos
							en nuestro respeto por todas las personas que interactúen con la compañía.
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="blogpost" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
					<div class="imgBx">
						<img src="/assets/images/home/image-home.jpg" alt="img" class="img-fluid">
					</div>
					<div class="content">
						<h1>Cercanía:</h1>
						<p>
							La convicción que nos impulsa a interesarnos por los proyectos,
							metas y objetivos de nuestros clientes, escuchando sus necesidades y
							brindándoles las soluciones adecuadas para construir relaciones duraderas.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="sec4" id="Esencia">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="headerText text-center">
					<h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Esencia</h2>
					<p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nihil labore voluptatum
						sit, quod iste odio aspernatur nesciunt. Repudiandae ducimus quas repellendus nisi voluptate
						velit nulla, laborum eveniet laudantium culpa!
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="sec5" id="Contactenos">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="headerText text-center">
					<h2>Contactanos</h2>
					<p>
						Comunicate con nosotros para brindarte asesoría.
					</p>
				</div>
			</div>
		</div>
		<div class="row clearfix">
			<div class="offset-sm-2 col-sm-8">
				<form action="#">
					<div class="form-group" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="0">
						<label for="">Nombre</label>
						<input type="text" class="form-control" name="Nombre" id="Nombre">
					</div>
					<div class="form-group" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
						<label for="">Correo</label>
						<input type="email" class="form-control" name="Nombre" id="Nombre">
					</div>
					<div class="form-group" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400">
						<label for="">Móvil</label>
						<input type="text" class="form-control" name="Nombre" id="Nombre">
					</div>
					<div class="form-group" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="600">
						<label for="">Mensaje</label>
						<textarea class="form-control textarea" name="mensaje" id="mensaje"></textarea>
					</div>
					<div class="form-group text-center" data-aos="fade-right" data-aos-duration="1000"
						data-aos-delay="0">
						<button class="btn btnD1">Enviar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul class="sci">
					<li><a href="#"> <i class="fa fa-facebook"></i></a></li>
					<li><a href="#"> <i class="fa fa-twitter"></i></a></li>
					<li><a href="#"> <i class="fa fa-instagram"></i></a></li>
				</ul>
				<p class="cprty">
					© Copyright 2020 <a href="">Eskatemp</a> | <a href="">SENA</a>
				</p>
			</div>
		</div>
	</div>
</footer>
<script src="/assets/plugins/jquery/jquery.min.js"></script>
<script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/plugins/aos/aos.js"></script>
<script src="/js/home.js"></script>