<div class="open">
	<div class="layer"></div>
	<div class="layer"></div>
</div>
<section>
	<div class="header">
		<h2 class="logo">Your Logo</h2>
		<ul>
			<li>
				<a href="#" class="active">Home</a>
			</li>
			<li>
				<a href="#">About</a>
			</li>
			<li>
				<a href="#">Services</a>
			</li>
			<li>
				<a href="#">Our Work</a>
			</li>
			<li>
				<a href="#">Portfolio</a>
			</li>
			<li>
				<a href="/Login">Iniciar sesión</a>
			</li>
		</ul>
	</div>
	<div class="bannerText">
		<h2>Eskatemp SAS</h2><br>
		<h3>Solución integral</h3>
		<p>Somos una empresa de asesoría,consultoría y 
		comercialización empresarial, que brinda herramientas estratégicas que dan 
		solución a los retos de las compañías de hoy en día</p>
		<a href="#">Read More</a>
	</div>
	<img src="/assets/images/Home/bulb.jpg" class="bulb">
	<ul class="sci">
		<li><a href="#"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
		<li><a href="#"><i class="fa fa-instagram"></i></a></li>
	</ul>
	<div class="element1"></div>
	<div class="element2"></div>
</section>