<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call Phone Soft</title>

    {{>plugins-css}}

</head>

<body class="fix-header fix-sidebar card-no-border">

    {{>loaders}}
    {{>preloader}}

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header (Menú Horizontal) - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{>header}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar (Menú Vertical Izquierdo) - style you can find in sidebar.scss  -->
        {{>aside}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">

            {{>titulo-eskatemp}}
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                {{{body}}}
            </div>
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
    </div>

    {{>plugins-scripts}}

    {{!----------------------------- CONTROLADORES AJAX-------------------------}}
    {{!-- Noticias --}}
    {{#if Noticias}}
    <script src="/controladores-ajax/Noticias/ListarNoticias.js"></script>
    {{/if}}

    {{!-- Directorio --}}
    {{#if Directorio}}
    <script src="/controladores-ajax/Clientes/ListarClientes.js"></script>
    <script src="/controladores-ajax/Clientes/DetallesCliente.js"></script>
    <script src="/controladores-ajax/Clientes/EliminarCliente.js"></script>
    <script src="/controladores-ajax/Clientes/ImportarClientes.js"></script>
    <script src="/js/dropify.js"></script>
    {{/if}}
    {{#if Directorio_Registro}}
    <script src="/controladores-ajax/Clientes/RegistrarClientes.js"></script>
    <script src="/js/DetalleServicios.js"></script>
    {{/if}}
    {{#if Directorio_Editar}}
    <script src="/controladores-ajax/Clientes/EditarCliente.js"></script>
    <script src="/js/DetalleServicios.js"></script>
    {{/if}}

    {{#if Estadisticas}}
    <script src="/controladores-ajax/Graficas/Graficas.js"></script>
    {{/if}}


    {{#if Llamada_NP}}
    <script src="/controladores-ajax/Citas/ListarCitas.js"></script>
    <script src="/controladores-ajax/Citas/DetallesCitas.js"></script>
    <script src="/controladores-ajax/Citas/CambiarEstados.js"></script>
    {{/if}}

    {{#if Agenda_Citas}}
    <script src="/controladores-ajax/Citas/ListarCitasSinAsignar.js"></script>
    {{/if}}

    {{!-- Llamadas --}}
    {{#if Llamadas}}
    <script src="/controladores-ajax/Llamadas/ListarLlamadas.js"></script>
    <script src="/controladores-ajax/Llamadas/DetallesLlamada.js"></script>
    {{/if}}

    {{#if Registrar_Llamada_NP}}
    <!-- Cronómetro -->
    <script src="/js/CronometroLlamada.js"></script>
    <script src="/js/CronometroVerficar.js"></script>
    <!-- Direccion -->
    <script src="/js/Direccion.js"></script>
    <script src="/controladores-ajax/Llamadas/RegistrarLlamadaNP.js"></script>
    <script src="/controladores-ajax/Llamadas/FuncionesRegistrarLlamada.js"></script>
    <script src="/controladores-ajax/Llamadas/CRUD_OfertaEstandar.js"></script>
    <script src="/controladores-ajax/Llamadas/CRUD_OfertaPersonalizada.js"></script>
    <script src="/js/DetalleServicios.js"></script>
    <script src="/controladores-ajax/Clientes/DetallesCliente.js"></script>
    {{/if}}

    {{!-- Usuarios --}}
    {{#if Usuarios}}
    <script src="/controladores-ajax/Usuarios/ListarUsuarios.js"></script>
    <script src="/controladores-ajax/Usuarios/DetallesUsuario.js"></script>
    <script src="/controladores-ajax/Usuarios/EditarUsuarios.js"></script>
    <script src="/controladores-ajax/Usuarios/EliminarUsuario.js"></script>
    {{/if}}
    {{#if Registrar_Usuarios}}
    <script src="/controladores-ajax/Usuarios/RegistrarUsuario.js"></script>
    <script src="/js/dropify.js"></script>
    {{/if}}


    {{!-- Notificaciones --}}
    {{#if Notificaciones}}
    <script src="/controladores-ajax/Notificaciones/ListarNotificaciones.js"></script>
    <script src="/controladores-ajax/Notificaciones/EliminarNotificaciones.js"></script>
    {{/if}}

    {{#if Configuracion}}
    <!-- Ajax Documentos -->
    <script src="/controladores-ajax/PanelControl/Documentos/RegistrarDocumento.js"></script>
    <script src="/controladores-ajax/PanelControl/Documentos/ListarDocumento.js"></script>
    <script src="/controladores-ajax/PanelControl/Documentos/ObtenerDocumento.js"></script>
    <script src="/controladores-ajax/PanelControl/Documentos/EditarDocumento.js"></script>
    <script src="/controladores-ajax/PanelControl/Documentos/EliminarDocumento.js"></script>

    <!-- Ajax Sexo -->
    <script src="/controladores-ajax/PanelControl/Sexo/RegistrarSexo.js"></script>
    <script src="/controladores-ajax/PanelControl/Sexo/ListarSexo.js"></script>
    <script src="/controladores-ajax/PanelControl/Sexo/ObtenerSexo.js"></script>
    <script src="/controladores-ajax/PanelControl/Sexo/EditarSexo.js"></script>
    <script src="/controladores-ajax/PanelControl/Sexo/EliminarSexo.js"></script>

    <!-- Ajax Pais -->
    <script src="/controladores-ajax/PanelControl/Pais/RegistrarPais.js"></script>
    <script src="/controladores-ajax/PanelControl/Pais/ListarPais.js"></script>
    <script src="/controladores-ajax/PanelControl/Pais/ObtenerPais.js"></script>
    <script src="/controladores-ajax/PanelControl/Pais/EditarPais.js"></script>
    <script src="/controladores-ajax/PanelControl/Pais/EliminarPais.js"></script>

    <!-- Ajax Departamentos -->
    <script src="/controladores-ajax/PanelControl/Departamentos/RegistrarDepartamento.js"></script>
    <script src="/controladores-ajax/PanelControl/Departamentos/ListarDepartamento.js"></script>
    <script src="/controladores-ajax/PanelControl/Departamentos/ObtenerDepartamento.js"></script>
    <script src="/controladores-ajax/PanelControl/Departamentos/EditarDepartamento.js"></script>
    <script src="/controladores-ajax/PanelControl/Departamentos/EliminarDepartamento.js"></script>


    <!-- Ajax Municipios -->
    <script src="/controladores-ajax/PanelControl/Municipios/RegistrarMunicipio.js"></script>
    <script src="/controladores-ajax/PanelControl/Municipios/ListarMunicipio.js"></script>
    <script src="/controladores-ajax/PanelControl/Municipios/ObtenerMunicipio.js"></script>
    <script src="/controladores-ajax/PanelControl/Municipios/EditarMunicipio.js"></script>
    <script src="/controladores-ajax/PanelControl/Municipios/EliminarMunicipio.js"></script>

    <!-- Ajax SubTipo -->
    <script src="/controladores-ajax/PanelControl/SubTipo/RegistrarSubTipo.js"></script>
    <script src="/controladores-ajax/PanelControl/SubTipo//ListarSubTipo.js"></script>
    <script src="/controladores-ajax/PanelControl/SubTipo//ObtenerSubTipo.js"></script>
    <script src="/controladores-ajax/PanelControl/SubTipo//EditarSubTipo.js"></script>
    <script src="/controladores-ajax/PanelControl/SubTipo//EliminarSubTipo.js"></script>

    <!-- Ajax Operadores -->
    <script src="/controladores-ajax/PanelControl/Operadores/RegistrarOperador.js"></script>
    <script src="/controladores-ajax/PanelControl/Operadores/ListarOperador.js"></script>
    <script src="/controladores-ajax/PanelControl/Operadores/EditarOperador.js"></script>
    <script src="/controladores-ajax/PanelControl/Operadores/EliminarOperadores.js"></script>

    <!--Ajax roles-->
    <script src="/controladores-ajax/PanelControl/Roles/ListarRol.js"></script>


    <!--Ajax Barrio Vereda-->
    <script src="/controladores-ajax/PanelControl/BarriosVeredas/RegistrarBarrioVereda.js"></script>
    <script src="/controladores-ajax/PanelControl/BarriosVeredas/ListarBarrioVereda.js"></script>
    <script src="/controladores-ajax/PanelControl/BarriosVeredas/ObtenerBarrioVereda.js"></script>
    <script src="/controladores-ajax/PanelControl/BarriosVeredas/EditarBarrioVereda.js"></script>
    <script src="/controladores-ajax/PanelControl/BarriosVeredas/EliminarBarriosVeredas.js"></script>

    <!--Ajax Turno-->
    <script src="/controladores-ajax/PanelControl/Turnos/RegistrarTurnos.js"></script>
    <script src="/controladores-ajax/PanelControl/Turnos/ListarTurnos.js"></script>
    <script src="/controladores-ajax/PanelControl/Turnos/ObtenerTurnos.js"></script>
    <script src="/controladores-ajax/PanelControl/Turnos/EditarTurnos.js"></script>
    <script src="/controladores-ajax/PanelControl/Turnos/EliminarTurnos.js"></script>

    <!--Ajax Calificacion-->
    <script src="/controladores-ajax/PanelControl/Calificaciones/RegistrarCalificacion.js"></script>
    <script src="/controladores-ajax/PanelControl/Calificaciones/ListarCalificacion.js"></script>
    <script src="/controladores-ajax/PanelControl/Calificaciones/ObtenerCalificacion.js"></script>
    <script src="/controladores-ajax/PanelControl/Calificaciones/EditarCalificacion.js"></script>
    <script src="/controladores-ajax/PanelControl/Calificaciones/EliminarCalificacion.js"></script>

    <!--Ajax OpcionesPredefinidas-->
    <script src="/controladores-ajax/PanelControl/OpcionesPredefinidas/RegistrarOpcionesPredefinidas.js"></script>
    <script src="/controladores-ajax/PanelControl/OpcionesPredefinidas/ListarOpcionesPredefinidas.js"></script>
    <script src="/controladores-ajax/PanelControl/OpcionesPredefinidas/EditarOpcionesPredefinidas.js"></script>
    <script src="/controladores-ajax/PanelControl/OpcionesPredefinidas/EliminarOpcionesPredefinidas.js"></script>
    {{/if}}
</body>

</html>