<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call Phone Soft</title>

    {{>plugins-css}}

</head>

<body class="fix-header fix-sidebar card-no-border">

    {{>preloader}}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header (Menú Horizontal) - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{>header}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar (Menú Vertical Izquierdo) - style you can find in sidebar.scss  -->
        {{>aside}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">

            {{>titulo-eskatemp}}
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                {{{body}}}
            </div>
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
    </div>

    {{>plugins-scripts}}

    {{!-- Directorio --}}
    {{#if Directorio}}
    <script src="/controladores-ajax/Clientes/ListarClientes-contact.js"></script>
    <script src="/controladores-ajax/Clientes/DetallesCliente.js"></script>
    {{/if}}

</body>

</html>