<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call Phone Soft</title>

    {{>plugins-css}}

</head>

<body class="fix-header fix-sidebar card-no-border">

    {{>loaders}}
    {{>preloader}}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header (Menú Horizontal) - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{>header}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar (Menú Vertical Izquierdo) - style you can find in sidebar.scss  -->
        {{>aside}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">

            {{>titulo-eskatemp}}
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                {{{body}}}
            </div>
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
    </div>

    {{>plugins-scripts}}

    {{!----------------------------- CONTROLADORES AJAX-------------------------}}
    {{!-- Noticias --}}
    {{#if Noticias}}
    <script src="/controladores-ajax/Noticias/ListarNoticias.js"></script>
    {{/if}}

    {{!-- Directorio --}}
    {{#if Directorio}}
    <script src="/controladores-ajax/Clientes/ListarClientes.js"></script>
    <script src="/controladores-ajax/Clientes/DetallesCliente.js"></script>
    {{/if}}
    {{#if Asignacion}}
    <script src="/controladores-ajax/Clientes/ListarAsignacionContact.js"></script>
    <script src="/controladores-ajax/Clientes/DetallesCliente.js"></script>
    {{/if}}

    
    {{!-- Llamadas --}}
    {{!-- {{#if Llamada_NP}}
    <script src="/controladores-ajax/Llamadas/ListarLlamadas.js"></script>
    {{/if}} --}}

    {{#if Registrar_Llamada_NP}}
    <!-- Cronómetro -->
    <script src="/js/CronometroLlamada.js"></script>
    <script src="/js/CronometroVerficar.js"></script>
    <!-- Direccion -->
    <script src="/js/Direccion.js"></script>
    <script src="/controladores-ajax/Llamadas/RegistrarLlamadaNP.js"></script>
    <script src="/controladores-ajax/Llamadas/FuncionesRegistrarLlamada.js"></script>
    <script src="/controladores-ajax/Llamadas/CRUD_OfertaEstandar.js"></script>
    <script src="/controladores-ajax/Llamadas/CRUD_OfertaPersonalizada.js"></script>
    <script src="/js/DetalleServicios.js"></script>
    <script src="/controladores-ajax/Clientes/DetallesCliente.js"></script>
    {{/if}}

    {{#if Registrar_Llamada_P}}
    <!-- Cronómetro -->
    <script src="/js/CronometroLlamada.js"></script>
    <script src="/js/CronometroVerficar.js"></script>
    <!-- Direccion -->
    <script src="/js/Direccion.js"></script>
    <script src="/controladores-ajax/Llamadas/RegistrarLlamadaP.js"></script>
    <script src="/controladores-ajax/Llamadas/FuncionesRegistrarLlamada.js"></script>
    <script src="/controladores-ajax/Llamadas/CRUD_OfertaEstandar.js"></script>
    <script src="/controladores-ajax/Llamadas/CRUD_OfertaPersonalizada.js"></script>
    <script src="/js/DetalleServicios.js"></script>
    <script src="/controladores-ajax/Clientes/DetallesCliente.js"></script>
    {{/if}}

    {{!-- Notificaciones --}}
    {{#if Notificaciones}}
    <script src="/controladores-ajax/Notificaciones/ListarNotificaciones.js"></script>
    <script src="/controladores-ajax/Notificaciones/EliminarNotificaciones.js"></script>
    {{/if}}

</body>

</html>